@mixin student-color($name, $value) {
  .text-#{$name} {
    color: $value !important;
  }
  .bg-#{$name} {
    background-color: $value !important;
  }
  .br-#{$name} {
    border-color: $value;
  }
  .br-top-#{$name} {
    border-top-color: $value;
  }
  .br-bottom-#{$name} {
    border-bottom-color: $value;
  }
  .br-left-#{$name} {
    border-left-color: $value;
  }
  .br-right-#{$name} {
    border-right-color: $value;
  }
}

@mixin admin-color($name, $value) {
  .text-a-#{$name} {
    color: $value !important;
  }
  .bg-a-#{$name} {
    background-color: $value !important;
  }
  .br-a-#{$name} {
    border-color: $value !important;
  }
  .br-a-top-#{$name} {
    border-top-color: $value !important;
  }
  .br-a-bottom-#{$name} {
    border-bottom-color: $value !important;
  }
  .br-a-left-#{$name} {
    border-left-color: $value !important;
  }
  .br-a-right-#{$name} {
    border-right-color: $value !important;
  }
}

@include student-color("primary", #004ac6);
@include student-color("secondary", #2563eb);
@include student-color("light", #eef2ff);

@include student-color("gold", #ffb000); // Softer Gold

@include admin-color("primary", #0284c7); // Muted Sky Blue
@include admin-color("secondary", #7dd3fc);
@include admin-color("light", #f0f9ff);
