.text-primary {
  color: #004ac6 !important;
}

.bg-primary {
  background-color: #004ac6 !important;
}

.br-primary {
  border-color: #004ac6;
}

.br-top-primary {
  border-top-color: #004ac6;
}

.br-bottom-primary {
  border-bottom-color: #004ac6;
}

.br-left-primary {
  border-left-color: #004ac6;
}

.br-right-primary {
  border-right-color: #004ac6;
}

.text-secondary {
  color: #2563eb !important;
}

.bg-secondary {
  background-color: #2563eb !important;
}

.br-secondary {
  border-color: #2563eb;
}

.br-top-secondary {
  border-top-color: #2563eb;
}

.br-bottom-secondary {
  border-bottom-color: #2563eb;
}

.br-left-secondary {
  border-left-color: #2563eb;
}

.br-right-secondary {
  border-right-color: #2563eb;
}

.text-light {
  color: #eef2ff !important;
}

.bg-light {
  background-color: #eef2ff !important;
}

.br-light {
  border-color: #eef2ff;
}

.br-top-light {
  border-top-color: #eef2ff;
}

.br-bottom-light {
  border-bottom-color: #eef2ff;
}

.br-left-light {
  border-left-color: #eef2ff;
}

.br-right-light {
  border-right-color: #eef2ff;
}

.text-gold {
  color: #ffb000 !important;
}

.bg-gold {
  background-color: #ffb000 !important;
}

.br-gold {
  border-color: #ffb000;
}

.br-top-gold {
  border-top-color: #ffb000;
}

.br-bottom-gold {
  border-bottom-color: #ffb000;
}

.br-left-gold {
  border-left-color: #ffb000;
}

.br-right-gold {
  border-right-color: #ffb000;
}

.text-a-primary {
  color: #0284c7 !important;
}

.bg-a-primary {
  background-color: #0284c7 !important;
}

.br-a-primary {
  border-color: #0284c7 !important;
}

.br-a-top-primary {
  border-top-color: #0284c7 !important;
}

.br-a-bottom-primary {
  border-bottom-color: #0284c7 !important;
}

.br-a-left-primary {
  border-left-color: #0284c7 !important;
}

.br-a-right-primary {
  border-right-color: #0284c7 !important;
}

.text-a-secondary {
  color: #7dd3fc !important;
}

.bg-a-secondary {
  background-color: #7dd3fc !important;
}

.br-a-secondary {
  border-color: #7dd3fc !important;
}

.br-a-top-secondary {
  border-top-color: #7dd3fc !important;
}

.br-a-bottom-secondary {
  border-bottom-color: #7dd3fc !important;
}

.br-a-left-secondary {
  border-left-color: #7dd3fc !important;
}

.br-a-right-secondary {
  border-right-color: #7dd3fc !important;
}

.text-a-light {
  color: #f0f9ff !important;
}

.bg-a-light {
  background-color: #f0f9ff !important;
}

.br-a-light {
  border-color: #f0f9ff !important;
}

.br-a-top-light {
  border-top-color: #f0f9ff !important;
}

.br-a-bottom-light {
  border-bottom-color: #f0f9ff !important;
}

.br-a-left-light {
  border-left-color: #f0f9ff !important;
}

.br-a-right-light {
  border-right-color: #f0f9ff !important;
}
