<section class="performances-page">
  <nz-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item>My Performances</nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-tabs
    [(nzSelectedIndex)]="tabIndex"
    (nzSelectedIndexChange)="onTabChange($event)"
  >
    <nz-tab nzTitle="Live Tests">
      <ng-template nz-tab>
        <div class="cuet-table-shell">
          @if (!isLiveLoading && !livePerformances.length) {
            <ng-container [ngTemplateOutlet]="liveEmpty"></ng-container>
          } @else {
            <nz-table
              [nzLoading]="isLiveLoading"
              [nzData]="livePerformances"
              [nzFrontPagination]="false"
              [nzShowSizeChanger]="true"
              [nzShowPagination]="true"
              [nzTotal]="totalLiveCount"
              [nzPageIndex]="livePageIndex"
              [nzPageSize]="livePageSize"
              [nzNoResult]="liveEmpty"
              [nzShowTotal]="printLiveCount"
              [nzScroll]="{ x: 'auto' }"
              (nzPageIndexChange)="
                livePageIndex = $event; getLivePerformances()
              "
              (nzPageSizeChange)="livePageSize = $event; getLivePerformances()"
            >
              <thead>
                <tr>
                  <th class="text-center text-nowrap" [nzWidth]="'56px'">
                    Sl. No.
                  </th>
                  <th class="text-nowrap" [nzWidth]="'200px'">Name</th>
                  <th class="text-center text-nowrap" [nzWidth]="'100px'">
                    Attempted
                  </th>
                  <th class="text-center text-nowrap" [nzWidth]="'88px'">
                    Date
                  </th>
                  <th class="text-center text-nowrap" [nzWidth]="'100px'">
                    Score
                  </th>
                  <th class="text-center text-nowrap" [nzWidth]="'88px'">
                    Score %
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let performance of livePerformances; let i = index"
                  (click)="onClickPerformance(performance)"
                  class="cuet-table-row cursor-pointer"
                >
                  <td class="text-center cuet-table-row__index text-nowrap">
                    {{ i + 1 }}
                  </td>
                  <td class="text-nowrap">
                    <span class="cuet-table-row__name-text">{{
                      performance?.testName
                    }}</span>
                    <span class="cuet-table-row__mobile-meta text-nowrap">
                      {{ performance?.correct + performance?.incorrect }} /
                      {{
                        performance?.correct +
                          performance?.incorrect +
                          performance?.unattempted
                      }}
                      ·
                      {{
                        (performance?.testItem?.startTime
                          | date: "dd MMM yy") ?? "-"
                      }}
                    </span>
                  </td>
                  <td class="text-center cuet-table-row__num text-nowrap">
                    {{ performance?.correct + performance?.incorrect }} /
                    {{
                      performance?.correct +
                        performance?.incorrect +
                        performance?.unattempted
                    }}
                  </td>
                  <td class="text-center cuet-table-row__num text-nowrap">
                    {{
                      (performance?.testItem?.startTime | date: "dd MMM yy") ??
                        "-"
                    }}
                  </td>
                  <td
                    class="text-center cuet-table-row__num text-primary font-500 text-nowrap"
                  >
                    {{ performance.scoreObtained }} /
                    {{ performance.totalScore }}
                  </td>
                  <td class="text-center cuet-table-row__num text-nowrap">
                    @if (performance.totalScore) {
                      {{
                        (performance.scoreObtained / performance.totalScore) *
                          100 | number: ".0-2"
                      }}%
                    } @else {
                      -
                    }
                  </td>
                </tr>
              </tbody>
            </nz-table>
          }
        </div>
        <ng-template #printLiveCount>
          <div
            *ngIf="!totalLiveCount"
            class="cuet-table-total-label cuet-table-total-label--empty"
          >
            No results
          </div>
          <div *ngIf="totalLiveCount" class="cuet-table-total-label">
            <b>{{ totalLiveCount }}</b> results
          </div>
        </ng-template>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Recorded Tests">
      <ng-template nz-tab>
        <div class="cuet-table-shell">
          @if (!isRecordedLoading && !recordedPerformances.length) {
            <ng-container [ngTemplateOutlet]="recordedEmpty"></ng-container>
          } @else {
            <nz-table
              [nzLoading]="isRecordedLoading"
              [nzData]="recordedPerformances"
              [nzFrontPagination]="false"
              [nzShowSizeChanger]="true"
              [nzShowPagination]="true"
              [nzTotal]="totalRecordedCount"
              [nzPageIndex]="recordedPageIndex"
              [nzPageSize]="recordedPageSize"
              [nzNoResult]="recordedEmpty"
              [nzShowTotal]="printRecordedCount"
              [nzScroll]="{ x: 'auto' }"
              (nzPageIndexChange)="
                recordedPageIndex = $event; getRecordedPerformances()
              "
              (nzPageSizeChange)="
                recordedPageSize = $event; getRecordedPerformances()
              "
            >
              <thead>
                <tr>
                  <th class="text-center text-nowrap" [nzWidth]="'56px'">
                    Sl. No.
                  </th>
                  <th class="text-nowrap" [nzWidth]="'200px'">Name</th>
                  <th class="text-center text-nowrap" [nzWidth]="'100px'">
                    Attempted
                  </th>
                  <th class="text-center text-nowrap" [nzWidth]="'88px'">
                    Date
                  </th>
                  <th class="text-center text-nowrap" [nzWidth]="'100px'">
                    Score
                  </th>
                  <th class="text-center text-nowrap" [nzWidth]="'88px'">
                    Score %
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let performance of recordedPerformances;
                    let i = index
                  "
                  (click)="onClickPerformance(performance)"
                  class="cuet-table-row cursor-pointer"
                >
                  <td class="text-center cuet-table-row__index text-nowrap">
                    {{ i + 1 }}
                  </td>
                  <td class="text-nowrap">
                    <span class="cuet-table-row__name-text">{{
                      performance?.testName
                    }}</span>
                    <span class="cuet-table-row__mobile-meta text-nowrap">
                      {{ performance?.correct + performance?.incorrect }} /
                      {{
                        performance?.correct +
                          performance?.incorrect +
                          performance?.unattempted
                      }}
                      ·
                      {{ performance?.testItem?.startTime | date: "dd MMM yy" }}
                    </span>
                  </td>
                  <td class="text-center cuet-table-row__num text-nowrap">
                    {{ performance?.correct + performance?.incorrect }} /
                    {{
                      performance?.correct +
                        performance?.incorrect +
                        performance?.unattempted
                    }}
                  </td>
                  <td class="text-center cuet-table-row__num text-nowrap">
                    {{ performance?.testItem?.startTime | date: "dd MMM yy" }}
                  </td>
                  <td
                    class="text-center cuet-table-row__num text-primary font-500 text-nowrap"
                  >
                    {{ performance.scoreObtained }} /
                    {{ performance.totalScore }}
                  </td>
                  <td class="text-center cuet-table-row__num text-nowrap">
                    @if (performance.totalScore) {
                      {{
                        (performance.scoreObtained / performance.totalScore) *
                          100 | number: ".0-2"
                      }}%
                    } @else {
                      -
                    }
                  </td>
                </tr>
              </tbody>
            </nz-table>
          }
        </div>
        <ng-template #printRecordedCount>
          <div
            *ngIf="!totalRecordedCount"
            class="cuet-table-total-label cuet-table-total-label--empty"
          >
            No results
          </div>
          <div *ngIf="totalRecordedCount" class="cuet-table-total-label">
            <b>{{ totalRecordedCount }}</b> results
          </div>
        </ng-template>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Mock Tests">
      <ng-template nz-tab>
        <div class="cuet-table-shell">
          @if (!isMockLoading && !mockPerformances.length) {
            <ng-container [ngTemplateOutlet]="mockEmpty"></ng-container>
          } @else {
            <nz-table
              [nzLoading]="isMockLoading"
              [nzData]="mockPerformances"
              [nzFrontPagination]="false"
              [nzShowSizeChanger]="true"
              [nzShowPagination]="true"
              [nzTotal]="totalMockCount"
              [nzPageIndex]="mockPageIndex"
              [nzPageSize]="mockPageSize"
              [nzNoResult]="mockEmpty"
              [nzShowTotal]="printMockCount"
              [nzScroll]="{ x: 'auto' }"
              (nzPageIndexChange)="
                mockPageIndex = $event; getMockPerformances()
              "
              (nzPageSizeChange)="mockPageSize = $event; getMockPerformances()"
            >
              <thead>
                <tr>
                  <th class="text-center text-nowrap" [nzWidth]="'56px'">
                    Sl. No.
                  </th>
                  <th class="text-nowrap" [nzWidth]="'200px'">Name</th>
                  <th class="text-center text-nowrap" [nzWidth]="'100px'">
                    Attempted
                  </th>
                  <th class="text-center text-nowrap" [nzWidth]="'88px'">
                    Date
                  </th>
                  <th class="text-center text-nowrap" [nzWidth]="'100px'">
                    Score
                  </th>
                  <th class="text-center text-nowrap" [nzWidth]="'88px'">
                    Score %
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let performance of mockPerformances; let i = index"
                  (click)="onClickPerformance(performance)"
                  class="cuet-table-row cursor-pointer"
                >
                  <td class="text-center cuet-table-row__index text-nowrap">
                    {{ i + 1 }}
                  </td>
                  <td class="text-nowrap">
                    <span class="cuet-table-row__name-text">{{
                      performance?.testName
                    }}</span>
                    <span class="cuet-table-row__mobile-meta text-nowrap">
                      {{ performance?.correct + performance?.incorrect }} /
                      {{
                        performance?.correct +
                          performance?.incorrect +
                          performance?.unattempted
                      }}
                      ·
                      {{ performance?.testItem?.startTime | date: "dd MMM yy" }}
                    </span>
                  </td>
                  <td class="text-center cuet-table-row__num text-nowrap">
                    {{ performance?.correct + performance?.incorrect }} /
                    {{
                      performance?.correct +
                        performance?.incorrect +
                        performance?.unattempted
                    }}
                  </td>
                  <td class="text-center cuet-table-row__num text-nowrap">
                    {{ performance?.testItem?.startTime | date: "dd MMM yy" }}
                  </td>
                  <td
                    class="text-center cuet-table-row__num text-primary font-500 text-nowrap"
                  >
                    {{ performance.scoreObtained }} /
                    {{ performance.totalScore }}
                  </td>
                  <td class="text-center cuet-table-row__num text-nowrap">
                    @if (performance.totalScore) {
                      {{
                        (performance.scoreObtained / performance.totalScore) *
                          100 | number: ".0-2"
                      }}%
                    } @else {
                      -
                    }
                  </td>
                </tr>
              </tbody>
            </nz-table>
          }
        </div>
        <ng-template #printMockCount>
          <div
            *ngIf="!totalMockCount"
            class="cuet-table-total-label cuet-table-total-label--empty"
          >
            No results
          </div>
          <div *ngIf="totalMockCount" class="cuet-table-total-label">
            <b>{{ totalMockCount }}</b> results
          </div>
        </ng-template>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Topic-wise Tests">
      <ng-template nz-tab>
        <div class="cuet-table-shell">
          @if (!isTopicLoading && !topicPerformances.length) {
            <ng-container [ngTemplateOutlet]="topicEmpty"></ng-container>
          } @else {
            <nz-table
              [nzLoading]="isTopicLoading"
              [nzData]="topicPerformances"
              [nzFrontPagination]="false"
              [nzShowSizeChanger]="true"
              [nzShowPagination]="true"
              [nzTotal]="totalTopicCount"
              [nzPageIndex]="topicPageIndex"
              [nzPageSize]="topicPageSize"
              [nzNoResult]="topicEmpty"
              [nzShowTotal]="printTopicCount"
              [nzScroll]="{ x: 'auto' }"
              (nzPageIndexChange)="
                topicPageIndex = $event; getTopicPerformances()
              "
              (nzPageSizeChange)="
                topicPageSize = $event; getTopicPerformances()
              "
            >
              <thead>
                <tr>
                  <th class="text-center text-nowrap" [nzWidth]="'56px'">
                    Sl. No.
                  </th>
                  <th class="text-nowrap" [nzWidth]="'200px'">Name</th>
                  <th class="text-center text-nowrap" [nzWidth]="'100px'">
                    Attempted
                  </th>
                  <th class="text-center text-nowrap" [nzWidth]="'88px'">
                    Date
                  </th>
                  <th class="text-center text-nowrap" [nzWidth]="'100px'">
                    Score
                  </th>
                  <th class="text-center text-nowrap" [nzWidth]="'88px'">
                    Score %
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let performance of topicPerformances; let i = index"
                  (click)="onClickPerformance(performance)"
                  class="cuet-table-row cursor-pointer"
                >
                  <td class="text-center cuet-table-row__index text-nowrap">
                    {{ i + 1 }}
                  </td>
                  <td class="text-nowrap">
                    <span class="cuet-table-row__name-text">{{
                      performance?.testName
                    }}</span>
                    <span class="cuet-table-row__mobile-meta text-nowrap">
                      {{ performance?.correct + performance?.incorrect }} /
                      {{
                        performance?.correct +
                          performance?.incorrect +
                          performance?.unattempted
                      }}
                      ·
                      {{ performance?.testItem?.startTime | date: "dd MMM yy" }}
                    </span>
                  </td>
                  <td class="text-center cuet-table-row__num text-nowrap">
                    {{ performance?.correct + performance?.incorrect }} /
                    {{
                      performance?.correct +
                        performance?.incorrect +
                        performance?.unattempted
                    }}
                  </td>
                  <td class="text-center cuet-table-row__num text-nowrap">
                    {{ performance?.testItem?.startTime | date: "dd MMM yy" }}
                  </td>
                  <td
                    class="text-center cuet-table-row__num text-primary font-500 text-nowrap"
                  >
                    {{ performance.scoreObtained }} /
                    {{ performance.totalScore }}
                  </td>
                  <td class="text-center cuet-table-row__num text-nowrap">
                    @if (performance.totalScore) {
                      {{
                        (performance.scoreObtained / performance.totalScore) *
                          100 | number: ".0-2"
                      }}%
                    } @else {
                      -
                    }
                  </td>
                </tr>
              </tbody>
            </nz-table>
          }
        </div>
        <ng-template #printTopicCount>
          <div
            *ngIf="!totalTopicCount"
            class="cuet-table-total-label cuet-table-total-label--empty"
          >
            No results
          </div>
          <div *ngIf="totalTopicCount" class="cuet-table-total-label">
            <b>{{ totalTopicCount }}</b> results
          </div>
        </ng-template>
      </ng-template>
    </nz-tab>
  </nz-tabs>

  <ng-template #liveEmpty>
    <div class="cuet-table-empty">
      <span class="cuet-table-empty__icon material-symbols-outlined">bolt</span>
      <p class="cuet-table-empty__title">No live test attempts yet</p>
      <p class="cuet-table-empty__subtitle">
        Start a live test to see your score and accuracy here.
      </p>
    </div>
  </ng-template>

  <ng-template #recordedEmpty>
    <div class="cuet-table-empty">
      <span class="cuet-table-empty__icon material-symbols-outlined"
        >smart_display</span
      >
      <p class="cuet-table-empty__title">No recorded test attempts yet</p>
      <p class="cuet-table-empty__subtitle">
        Your recorded test performances will appear after you complete one.
      </p>
    </div>
  </ng-template>

  <ng-template #mockEmpty>
    <div class="cuet-table-empty">
      <span class="cuet-table-empty__icon material-symbols-outlined"
        >assignment</span
      >
      <p class="cuet-table-empty__title">No mock test attempts yet</p>
      <p class="cuet-table-empty__subtitle">
        Take a mock test to benchmark your preparation.
      </p>
    </div>
  </ng-template>

  <ng-template #topicEmpty>
    <div class="cuet-table-empty">
      <span class="cuet-table-empty__icon material-symbols-outlined"
        >manage_search</span
      >
      <p class="cuet-table-empty__title">No topic-wise performances yet</p>
      <p class="cuet-table-empty__subtitle">
        Attempt a topic-wise test to track progress by topic.
      </p>
    </div>
  </ng-template>

  <nz-modal
    [(nzVisible)]="isPerformanceModal"
    [nzMaskClosable]="true"
    [nzFooter]="null"
    (nzOnCancel)="onModalClose()"
    nzCentered
    [nzWidth]="760"
  >
    <ng-container *nzModalContent>
      <div class="perf-modal cuet-modal-pad">
        <ngx-simplebar class="perf-modal__body">
          <header class="perf-modal__head">
            <div class="perf-modal__icon" aria-hidden="true">
              <span class="material-symbols-outlined">insights</span>
            </div>
            <div class="perf-modal__head-copy">
              <p class="perf-modal__eyebrow">Performance breakdown</p>
              <h2 class="perf-modal__title">
                {{ selectedPerformance?.testName }}
              </h2>
              <p class="perf-modal__meta">
                {{ selectedPerformance?.testType | titlecase }}
                @if (selectedPerformance?.testItem?.startTime) {
                  <span class="perf-modal__meta-sep">·</span>
                  {{
                    selectedPerformance?.testItem?.startTime
                      | date: "EEE, dd MMM yyyy"
                  }}
                }
              </p>
            </div>
          </header>

          @let perfPct =
            selectedPerformance?.totalScore
              ? (selectedPerformance?.scoreObtained / selectedPerformance?.totalScore) *
                100
              : null;

          <div class="perf-modal__stat-grid">
            <div
              class="perf-modal__stat perf-modal__stat--hero perf-modal__stat--brand"
              [class.is-good]="(perfPct ?? 0) >= 70"
              [class.is-neutral]="(perfPct ?? 0) >= 40 && (perfPct ?? 0) < 70"
              [class.is-low]="(perfPct ?? 0) < 40"
            >
              <p class="perf-modal__stat-label">Score obtained</p>
              <p class="perf-modal__stat-value">
                {{ selectedPerformance?.scoreObtained }}
                <span class="perf-modal__stat-denom"
                  >/ {{ selectedPerformance?.totalScore }}</span
                >
              </p>
            </div>
            @if (selectedPerformance?.totalScore) {
              <div
                class="perf-modal__stat perf-modal__stat--brand"
                [class.is-good]="(perfPct ?? 0) >= 70"
                [class.is-neutral]="(perfPct ?? 0) >= 40 && (perfPct ?? 0) < 70"
                [class.is-low]="(perfPct ?? 0) < 40"
              >
                <p class="perf-modal__stat-label">Percentage</p>
                <p
                  class="perf-modal__stat-value perf-modal__stat-value--accent"
                >
                  {{ (perfPct ?? 0) | number: "1.0-2" }}%
                </p>
              </div>
            }
            @if (
              selectedPerformance?.previousScoreObtained &&
              selectedPerformance?.previousTotalScore
            ) {
              <div class="perf-modal__stat perf-modal__stat--soft">
                <p class="perf-modal__stat-label">Previous attempt</p>
                <p class="perf-modal__stat-value">
                  {{ selectedPerformance?.previousScoreObtained }}
                  <span class="perf-modal__stat-denom"
                    >/ {{ selectedPerformance?.previousTotalScore }}</span
                  >
                </p>
              </div>
            }
          </div>

          <div class="perf-modal__dist">
            <section class="perf-modal__panel perf-modal__panel--grow">
              <h3 class="perf-modal__section-title">Answer distribution</h3>

              <div class="perf-modal__dist-grid">
                <div class="perf-modal__kpi perf-modal__kpi--attempted">
                  <p class="perf-modal__kpi-label">Attempted</p>
                  <p class="perf-modal__kpi-value">
                    {{
                      selectedPerformance?.correct +
                        selectedPerformance?.incorrect
                    }}
                    <span class="perf-modal__kpi-denom"
                      >/
                      {{
                        selectedPerformance?.correct +
                          selectedPerformance?.incorrect +
                          selectedPerformance?.unattempted
                      }}</span
                    >
                  </p>
                </div>
                <div class="perf-modal__kpi perf-modal__kpi--correct">
                  <p class="perf-modal__kpi-label">Correct</p>
                  <p class="perf-modal__kpi-value perf-modal__kpi-value--good">
                    {{ selectedPerformance?.correct }}
                  </p>
                </div>
                <div class="perf-modal__kpi perf-modal__kpi--incorrect">
                  <p class="perf-modal__kpi-label">Incorrect</p>
                  <p class="perf-modal__kpi-value perf-modal__kpi-value--bad">
                    {{ selectedPerformance?.incorrect }}
                  </p>
                </div>
                <div class="perf-modal__kpi perf-modal__kpi--unattempted">
                  <p class="perf-modal__kpi-label">Unattempted</p>
                  <p class="perf-modal__kpi-value">
                    {{ selectedPerformance?.unattempted }}
                  </p>
                </div>
              </div>

              @let totalQ =
                selectedPerformance?.correct +
                selectedPerformance?.incorrect +
                selectedPerformance?.unattempted;
              <div
                class="perf-modal__stack"
                aria-label="Answer distribution bar"
              >
                <div
                  class="perf-modal__stack-seg perf-modal__stack-seg--good"
                  nz-tooltip
                  [nzTooltipTitle]="'Correct: ' + (selectedPerformance?.correct ?? 0)"
                  [style.width.%]="
                    totalQ ? (selectedPerformance?.correct / totalQ) * 100 : 0
                  "
                ></div>
                <div
                  class="perf-modal__stack-seg perf-modal__stack-seg--bad"
                  nz-tooltip
                  [nzTooltipTitle]="'Incorrect: ' + (selectedPerformance?.incorrect ?? 0)"
                  [style.width.%]="
                    totalQ ? (selectedPerformance?.incorrect / totalQ) * 100 : 0
                  "
                ></div>
                <div
                  class="perf-modal__stack-seg perf-modal__stack-seg--neutral"
                  nz-tooltip
                  [nzTooltipTitle]="'Unattempted: ' + (selectedPerformance?.unattempted ?? 0)"
                  [style.width.%]="
                    totalQ
                      ? (selectedPerformance?.unattempted / totalQ) * 100
                      : 0
                  "
                ></div>
              </div>

              @if (selectedPerformance?.totalScore) {
                <div class="perf-modal__accuracy">
                  <span class="perf-modal__accuracy-label">Accuracy</span>
                  <span class="perf-modal__accuracy-value">
                    {{
                      (selectedPerformance?.scoreObtained /
                        selectedPerformance?.totalScore) *
                        100 | number: "1.0-2"
                    }}%
                  </span>
                  @if (selectedPerformance?.scoreDifference) {
                    <span class="perf-modal__accuracy-delta"
                      >{{ selectedPerformance?.scoreDifference }}%</span
                    >
                  }
                </div>
              }
            </section>

            <aside class="perf-modal__donut" aria-label="Grade chart">
              <div class="perf-modal__donut-card">
                <p class="perf-modal__donut-title">Grade</p>
                <div class="perf-modal__chart-wrap">
                  <canvas
                    baseChart
                    [labels]="doughnutChartLabels"
                    [datasets]="performanceChartDatasets"
                    [options]="doughnutChartOptions"
                    [legend]="false"
                    [type]="'doughnut'"
                    height="128"
                    width="128"
                  >
                  </canvas>
                  <div class="perf-modal__grade">
                    {{ selectedPerformance?.grade || "—" }}
                  </div>
                </div>
                <p class="perf-modal__donut-sub">
                  Correct / Incorrect / Unattempted
                </p>
              </div>
            </aside>
          </div>

          @if (selectedPerformance?.remark) {
            <div class="perf-modal__remark">
              <h3 class="perf-modal__section-title">Remark</h3>
              <p class="perf-modal__remark-body">
                {{ selectedPerformance?.remark }}
              </p>
            </div>
          }

          <section class="perf-modal__panel">
            <h3 class="perf-modal__section-title">Session details</h3>
            <dl class="perf-modal__dl">
              <div class="perf-modal__dl-row">
                <dt>Test name</dt>
                <dd>{{ selectedPerformance?.testName }}</dd>
              </div>
              <div class="perf-modal__dl-row">
                <dt>Date</dt>
                <dd>
                  {{
                    (selectedPerformance?.testItem?.startTime
                      | date: "dd MMM yyyy") ?? "—"
                  }}
                </dd>
              </div>
              <div class="perf-modal__dl-row">
                <dt>Started</dt>
                <dd>
                  {{
                    (selectedPerformance?.testItem?.startTime
                      | date: "hh:mm a") ?? "—"
                  }}
                </dd>
              </div>
              <div class="perf-modal__dl-row">
                <dt>Ended</dt>
                <dd>
                  {{
                    (selectedPerformance?.testItem?.endTime
                      | date: "hh:mm a") ?? "—"
                  }}
                </dd>
              </div>
              @if (selectedPerformance?.testType !== "topic") {
                <div class="perf-modal__dl-row">
                  <dt>Topics</dt>
                  <dd>{{ selectedPerformance?.testTopics?.join(", ") }}</dd>
                </div>
              } @else {
                <div class="perf-modal__dl-row">
                  <dt>Topic</dt>
                  <dd>{{ selectedPerformance?.topicName }}</dd>
                </div>
              }
              <div class="perf-modal__dl-row">
                <dt>Test type</dt>
                <dd>{{ selectedPerformance?.testType | titlecase }}</dd>
              </div>
            </dl>
          </section>

          <section class="perf-modal__deepdive">
            <p class="perf-modal__deepdive-title">Deep dive</p>
            <p class="perf-modal__deepdive-subtitle">
              Answers and leaderboard are kept below so your scorecard stays
              clean.
            </p>

            @if (isShowAnswer) {
              <div id="test-answers" class="perf-modal__answers">
                @for (
                  question of selectedPerformance.questions;
                  track question;
                  let i = $index
                ) {
                  <article class="perf-modal__answer-card">
                    <p class="perf-modal__answer-index">Question {{ i + 1 }}</p>
                    <pre class="perf-modal__answer-stem">{{
                      question?.question ?? "—"
                    }}</pre>
                    <ul class="perf-modal__answer-options">
                      <li
                        class="perf-modal__opt perf-modal__opt--correct"
                        [class.perf-modal__opt--yours]="
                          question?.correctOption === question?.answerChosen
                        "
                      >
                        <span class="perf-modal__opt-label"
                          >Correct option</span
                        >
                        <span class="perf-modal__opt-value">{{
                          question?.correctOption ?? "—"
                        }}</span>
                        @if (
                          question?.correctOption === question?.answerChosen
                        ) {
                          <span class="perf-modal__pill perf-modal__pill--ok"
                            >Your answer</span
                          >
                        }
                      </li>
                      <li
                        class="perf-modal__opt"
                        [class.perf-modal__opt--yours]="
                          question?.option2 === question?.answerChosen
                        "
                      >
                        <span class="perf-modal__opt-label"
                          >Other choice 1</span
                        >
                        <span class="perf-modal__opt-value">{{
                          question?.option2 ?? "—"
                        }}</span>
                        @if (question?.option2 === question?.answerChosen) {
                          <span class="perf-modal__pill perf-modal__pill--bad"
                            >Your answer</span
                          >
                        }
                      </li>
                      <li
                        class="perf-modal__opt"
                        [class.perf-modal__opt--yours]="
                          question?.option3 === question?.answerChosen
                        "
                      >
                        <span class="perf-modal__opt-label"
                          >Other choice 2</span
                        >
                        <span class="perf-modal__opt-value">{{
                          question?.option3 ?? "—"
                        }}</span>
                        @if (question?.option3 === question?.answerChosen) {
                          <span class="perf-modal__pill perf-modal__pill--bad"
                            >Your answer</span
                          >
                        }
                      </li>
                      <li
                        class="perf-modal__opt"
                        [class.perf-modal__opt--yours]="
                          question?.option4 === question?.answerChosen
                        "
                      >
                        <span class="perf-modal__opt-label"
                          >Other choice 3</span
                        >
                        <span class="perf-modal__opt-value">{{
                          question?.option4 ?? "—"
                        }}</span>
                        @if (question?.option4 === question?.answerChosen) {
                          <span class="perf-modal__pill perf-modal__pill--bad"
                            >Your answer</span
                          >
                        }
                      </li>
                      @if (question?.option5) {
                        <li
                          class="perf-modal__opt"
                          [class.perf-modal__opt--yours]="
                            question?.option5 === question?.answerChosen
                          "
                        >
                          <span class="perf-modal__opt-label"
                            >Other choice 4</span
                          >
                          <span class="perf-modal__opt-value">{{
                            question?.option5 ?? "—"
                          }}</span>
                          @if (question?.option5 === question?.answerChosen) {
                            <span class="perf-modal__pill perf-modal__pill--bad"
                              >Your answer</span
                            >
                          }
                        </li>
                      }
                    </ul>
                  </article>
                }
              </div>
            }

            <div
              id="test-leaderboard"
              class="perf-modal__leaderboard"
              *ngIf="isLeaderboardVisible"
            >
              @if (leaderboardData.length) {
                <div class="perf-lb">
                  <div class="leaderboard-podium">
                    @for (
                      data of leaderboardData | slice: 0 : 3;
                      track data;
                      let i = $index
                    ) {
                      @let scorePct =
                        data?.totalScore
                          ? ((data?.scoreObtained / data?.totalScore) * 100
                            | number: "1.0-1")
                          : null;
                      <article
                        class="podium-card"
                        [class.podium-card--gold]="i === 0"
                        [class.podium-card--silver]="i === 1"
                        [class.podium-card--bronze]="i === 2"
                      >
                        <div class="podium-card__top">
                          <span class="podium-card__rank">#{{ i + 1 }}</span>
                          <span
                            class="podium-card__medal material-symbols-outlined"
                            aria-hidden="true"
                          >
                            workspace_premium
                          </span>
                        </div>

                        <div class="podium-card__avatar" aria-hidden="true">
                          @if (i === 0) {
                            <span class="material-symbols-outlined"
                              >military_tech</span
                            >
                          } @else {
                            <span>{{
                              data?.studentName?.charAt(0) || "?"
                            }}</span>
                          }
                        </div>

                        <div class="podium-card__body">
                          <p class="podium-card__name">
                            {{ data?.studentName ?? "-" }}
                          </p>
                          <p class="podium-card__score">
                            {{ scorePct ?? "-" }}%
                          </p>
                          <div class="podium-card__meter">
                            <div
                              class="podium-card__meter-fill"
                              [style.width.%]="scorePct ?? 0"
                            ></div>
                          </div>
                        </div>
                      </article>
                    }
                  </div>

                  @if (leaderboardData.length > 3) {
                    <div class="leaderboard-list-head">
                      <p class="leaderboard-list-head__title">More rankings</p>
                      <p class="leaderboard-list-head__meta">
                        {{ leaderboardData.length }} students
                      </p>
                    </div>

                    <ngx-simplebar class="leaderboard-scroll">
                      <ul class="leader-list">
                        @for (
                          data of leaderboardData | slice: 3;
                          track data;
                          let i = $index
                        ) {
                          @let scorePct =
                            data?.totalScore
                              ? ((data?.scoreObtained / data?.totalScore) * 100
                                | number: "1.0-1")
                              : null;
                          <li class="leader-row">
                            <div class="leader-row__lead">
                              <span class="leader-row__rank">{{ i + 4 }}</span>
                              <div
                                class="leader-row__avatar"
                                aria-hidden="true"
                              >
                                <span>{{
                                  data?.studentName?.charAt(0) || "?"
                                }}</span>
                              </div>
                            </div>
                            <div class="leader-row__main">
                              <div class="leader-row__topline">
                                <p class="leader-row__name">
                                  {{ data?.studentName ?? "-" }}
                                </p>
                                <span class="leader-row__pill"
                                  >{{ scorePct ?? "-" }}%</span
                                >
                              </div>
                              <p class="leader-row__score">Overall score</p>
                            </div>
                          </li>
                        }
                      </ul>
                    </ngx-simplebar>
                  }
                </div>
              } @else {
                <div class="perf-modal__empty">
                  <span class="material-symbols-outlined" aria-hidden="true"
                    >leaderboard</span
                  >
                  <p>No leaderboard data yet.</p>
                </div>
              }
            </div>
          </section>

          <div class="perf-modal__footer">
            <button
              nz-button
              type="button"
              class="perf-modal__btn perf-modal__btn--ghost"
              (click)="onModalClose()"
            >
              Close
            </button>

            <div class="perf-modal__footer-right">
              @if (selectedPerformance?.showAnswers) {
                <button
                  nz-button
                  type="button"
                  class="perf-modal__btn perf-modal__btn--ghost"
                  (click)="isShowAnswer = !isShowAnswer"
                >
                  {{ isShowAnswer ? "Hide" : "Show" }} answers
                </button>
              }
              <button
                nz-button
                type="button"
                class="perf-modal__btn perf-modal__btn--primary"
                (click)="getTestLeaderboard()"
              >
                {{ isLeaderboardVisible ? "Hide" : "View" }} leaderboard
              </button>
            </div>
          </div>
        </ngx-simplebar>
      </div>
    </ng-container>
  </nz-modal>
</section>
