.upcoming-test,
.previous-test {
  // width: 90%;
  min-height: 140px;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  button.view-all {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    width: max-content;
    padding: 4px 16px;
  }
}

.upcoming-test {
  button.start-test {
    width: 100%;
  }
}

.previous-test {
  .overlap-tests {
    display: flex;
    .test {
      position: relative;
      height: 36px;
      aspect-ratio: 1;
      border: 2px solid #8555fd;
      background-color: white;
      border-radius: 50%;
      transition: all 0.6s;
      &:hover {
        margin: 0 0 0 10px;
        z-index: 8 !important;
      }
    }
  }
}

#resources {
  .subjects-container {
    padding: 16px;
    justify-content: space-between;
    max-width: 100%;
    row-gap: 20px;
    .mock-test,
    .subject {
      width: 92px;
      height: 84px;
      //padding: auto;
      display: flex;
      flex-direction: column;
      border-radius: 12px;
      justify-content: center;
      align-items: center;
      // margin-bottom: 1rem;
      .subject-icon {
        width: 32px !important;
        aspect-ratio: 1 !important;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .subject {
      border: 2px solid rgba(133, 85, 253, 0.2);
      // margin-left: 1rem;
    }
    .view-all {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-self: center;
      button {
        padding: 8px 24px;
      }
    }
  }
}

@media (min-width: 576px) {
  .subjects-container {
    // overflow-x: auto;
    flex-wrap: nowrap;
    column-gap: 16px !important;
    .mock-test,
    .subject {
      flex: 0 0 auto;
    }
    .subject {
      // margin-left: 1rem;
    }
  }
}

::ng-deep #performance-overview {
  height: 100%;
  .card{
    width: 100%;
    min-height: 204px;
    display: flex;
    align-items: center;
    justify-content: center;
    nz-tabset{
      width: 100%;
    }
  }
  .ant-tabs-nav-wrap {
    justify-content: center;
  }
  .ant-tabs-nav-list {
    width: 100%;
  }
  .ant-tabs-tab {
    justify-content: center;
  }
}

::ng-deep #leaderboard {
  max-height: calc(100% - 48.8px);

  .card {
    height: 100% !important;
    display: flex;
    flex-direction: column;
  }

  .scrollable-content {
    flex: 1;
    overflow-y: auto; // Make the content scrollable
    max-height: 172px; // Ensure it doesn't grow beyond the card
    //border: 1px solid black;
    width: 100%;
  }

  .leaderboard-header {
    font-size: 12px;
    font-weight: 600;
    padding: 6px 0;
    border-radius: 8px;
    .leaderboard-badge {
      fill: #fff;
    }
  }

  .rank-1 .leaderboard-icon path {
    fill: #ffd700;
  }
  .rank-2 .leaderboard-icon path {
    fill: #c0c0c0;
  }
  .rank-3 .leaderboard-icon path {
    fill: #cd7f32;
  }

  .ranks {
    //background-color: #0f6674 ;
    padding: 6px 0;
    margin: 4px 0;
    font-size: 12px;
    border-radius: 8px;
  }
  .ranks.rank-1 {
    background: linear-gradient(
      to right,
      rgba(255, 215, 0, 0.0576),
      rgba(255, 215, 0, 0.24)
    );
  }
  .ranks.rank-2 {
    background: linear-gradient(
      to right,
      rgba(192, 192, 192, 0.0576),
      rgba(192, 192, 192, 0.24)
    );
  }
  .ranks.rank-3 {
    background: linear-gradient(
      to right,
      rgba(205, 127, 50, 0.0576),
      rgba(205, 127, 50, 0.24)
    );
  }
}
