#progress-overview {
  .progress-icon {
    padding: 10px;
    border-radius: 8px;
    background: rgba(133, 85, 253, 0.1);
  }
}

#upcoming-live-tests {
  .test-cards {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    //overflow: ;
    column-gap: 1rem;

    .test-card {
      position: relative;
      min-width: 200px;
      max-width: 200px;

      img {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        border-radius: 4px;
        margin-bottom: 0.75rem;
      }

      .test-icon {
        padding: 8px;
        border-radius: 6px;
        background: rgba(133, 85, 253, 0.1);

        span[nz-icon] {
          width: 16px;
          aspect-ratio: 1 !important;
        }
      }

      button.start-test-btn {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border: none;
        outline: none;
        border-radius: 0px 0px 12px 12px;
        background: rgba(105, 100, 255, 0.24);

        color: #8555fd;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &:hover {
          background-color: rgba(105, 100, 255, 0.36);
        }
      }
    }
  }
}

::ng-deep #quick-links-previous-tests {
  .quick-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    background: rgba(133, 85, 253, 0.1);
  }

  nz-card:has(.previous-accordion) .ant-card-body {
    height: 100%;
  }

  .previous-accordion {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    column-gap: 1rem;
    flex-wrap: nowrap;

    .test {
      width: 45px;
      min-height: 129px;
      height: 100%;
      //border-radius: 8px;
      position: relative;
      background-color: #000;
      padding: 12px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      flex-wrap: wrap;

      border-radius: 8px;
      transition: width 0.4s;

      img {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.64;
        border-radius: inherit;
        z-index: 0;
      }

      div.date, div.duration-with-button {
        z-index: 2;
        transition: all 0.4s;

        .test-name, .subject-name{
          opacity: 0;
          visibility: hidden;
          transition: margin-bottom 0.6s, margin-top 0.6s;
        }

        .test-name {
          margin-top: -15px;
        }

        .subject-name {
          margin-bottom: -15px;
        }
      }

      div.duration-with-button {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;

        .previous-test-start-btn{
          width: 24px;
          height: 24px;
          //aspect-ratio: 1 !important;
          padding: 0;
          margin: 0;
          border: none !important;
          border-radius: 50%;
          background-color: #FFF;
          color: #8555fd;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            font-size: 12px;
          }

          opacity: 0;
          visibility: hidden;
          transition: all 0.4s;
          transition-delay: 0.2s;
        }
      }

      &:hover {
        width: 136px;
        flex-shrink: 0;

        div.date, div.duration-with-button {
          .test-date, .time {
            display: flex;
            column-gap: 0.25rem;
            align-items: center;
          }

          .test-name, .subject-name{
            opacity: 1;
            visibility: visible;
            margin-bottom: 0;
            margin-top: 0.2rem;
          }
        }

        div.duration-with-button {
          display: flex;
          align-items: center;

          .previous-test-start-btn{
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    .view-all-tests {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      background-color: transparent !important;
      color: #4a4a4a;
      transition: color 0.4s;
      margin: 0;
      padding: 0 0.5rem;

      &:hover {
        color: #8555fd;
        text-decoration: underline;
      }
    }
  }
}

.upcoming-test,
.previous-test {
  // width: 90%;
  background-color: rgba(133, 85, 253, 0.12);
  border: 1px solid #8555fd;
  min-height: 140px;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.6s;
  button.view-all {
    //border: 1px solid #8555FD;
    color: #8555fd;
    background: #fff;
    padding: 0px 16px;
    justify-content: center;
    width: 100%;
    font-weight: 300;
    border-radius: 8px;
  }
  &:hover {
    background-color: rgba(133, 85, 253, 0.16);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.06);
  }
}

@media (min-width: 768px) {
  .upcoming-test,
  .previous-test {
    button.view-all {
      height: 30px;
    }
  }
}

.upcoming-test {
  button.start-test {
    //width: 100%;
    background-color: #8555fd;
    color: #fff !important;
    padding: 0 24px;
    border-radius: 8px;
    transition: all 0.6s;
    font-weight: 400;
    &:hover {
      background-color: #6f2dbd;
    }
  }
}

@media (max-width: 575px) {
  .upcoming-test button.start-test {
    width: 100% !important;
    justify-content: center;
    margin-top: 8ng s px;
  }
}

.previous-test {
  .overlap-tests {
    display: flex;
    .test {
      position: relative;
      height: 36px;
      aspect-ratio: 1;
      border: 1px solid #8555fd;
      background-color: white;
      border-radius: 50%;
      transition: all 0.6s;
      &:hover {
        margin: 0 0 0 10px;
        z-index: 8 !important;
      }
    }
  }
}

.events,
.notifications {
  .admin-image-div {
    height: 36px;
    width: 36px;
    aspect-ratio: 1 !important;
    border-radius: 50%;
    background: linear-gradient(to top right, #007dd4, #00a3ff);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 32px;
      width: 32px;
      aspect-ratio: 1 !important;
      border-radius: 50%;
    }
  }
}

#resources {
  .subjects-container {
    padding: 16px;
    justify-content: space-between;
    max-width: 100%;
    row-gap: 20px;
    .mock-test,
    .subject {
      width: 92px;
      height: 84px;
      //padding: auto;
      display: flex;
      flex-direction: column;
      border-radius: 12px;
      justify-content: center;
      align-items: center;
      // margin-bottom: 1rem;
      .subject-icon {
        width: 32px !important;
        aspect-ratio: 1 !important;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 16px;
          width: 16px;
        }
      }
    }
    .subject {
      border: 2px solid rgba(133, 85, 253, 0.2);
      // margin-left: 1rem;
    }
    .view-all {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-self: center;
      button {
        padding: 8px 24px;
      }
    }
  }
}

::ng-deep #resources nz-card .ant-card-body {
  padding: 0.25rem;
}

@media (min-width: 576px) {
  .subjects-container {
    // overflow-x: auto;
    flex-wrap: nowrap;
    column-gap: 16px !important;
    .mock-test,
    .subject {
      flex: 0 0 auto;
    }
    .subject {
      // margin-left: 1rem;
    }
  }
}

::ng-deep #performance-overview {
  .ant-card-body {
    padding-top: 0.75rem;
    height: 242px;
  }
  //height: 100%;
  .card {
    width: 100%;
    min-height: 204px;
    display: flex;
    align-items: center;
    justify-content: center;
    nz-tabset {
      width: 100%;
    }
  }
  .ant-tabs-nav-wrap {
    justify-content: center;
  }
  .ant-tabs-nav-list {
    width: 100%;
  }
  .ant-tabs-tab {
    justify-content: center;
  }
}

::ng-deep #leaderboard {
  max-height: calc(100% - 48.8px);

  .card {
    //height: 100% !important;
    display: flex;
    flex-direction: column;
  }

  .scrollable-content {
    flex: 1;
    overflow-y: auto; // Make the content scrollable
    height: 210px; // Ensure it doesn't grow beyond the card
    max-height: 210px; // Ensure it doesn't grow beyond the card
    //border: 1px solid black;
    width: 100%;
  }

  .leaderboard-header {
    font-size: 12px;
    font-weight: 600;
    padding: 6px 0;
    border-radius: 8px;
    .leaderboard-badge {
      fill: #fff;
    }
  }

  .rank-1 .leaderboard-icon path {
    fill: #ffd700;
  }
  .rank-2 .leaderboard-icon path {
    fill: #c0c0c0;
  }
  .rank-3 .leaderboard-icon path {
    fill: #cd7f32;
  }

  .ranks {
    //background-color: #0f6674 ;
    padding: 6px 0;
    margin: 4px 0;
    font-size: 12px;
    border-radius: 8px;
  }
  .ranks.rank-1 {
    background: linear-gradient(
      to right,
      rgba(255, 215, 0, 0.0576),
      rgba(255, 215, 0, 0.24)
    );
  }
  .ranks.rank-2 {
    background: linear-gradient(
      to right,
      rgba(192, 192, 192, 0.0576),
      rgba(192, 192, 192, 0.24)
    );
  }
  .ranks.rank-3 {
    background: linear-gradient(
      to right,
      rgba(205, 127, 50, 0.0576),
      rgba(205, 127, 50, 0.24)
    );
  }
}

.custom-date-cell {
  position: relative;
  cursor: pointer;
}

.popover-helper {
  position: absolute;
  top: -10px;
  left: 0;
  height: 20px;
  width: 20px;
  z-index: 1;
}

::ng-deep .student-calendar .ant-picker-calendar-mode-switch {
  display: none;
}
