<nz-breadcrumb nzSeparator=">">
  <nz-breadcrumb-item>My Account</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="ant-row">
  <div class="ant-col-md-14">
    <nz-card nzHoverable nzBorderless>
      <div class="row mx-0 justify-content-center">
        <img
          *ngIf="accountDetails?.imageUrl"
          [nzSrc]="accountDetails?.imageUrl"
          nz-image
          alt=""
          style="border-radius: 50%"
          height="120"
          width="120"
        />
        <p
          class="font-24 font-600 text-primary"
          *ngIf="!accountDetails?.imageUrl"
        >
          {{ accountDetails?.name?.toUpperCase()[0] }}
        </p>
      </div>
      <form [formGroup]="profileForm">
        <div class="ant-row mt-4">
          <div class="ant-col-24 mb-2">
            <nz-form-label [nzNoColon]="true">
              <h4 class="common-label font-500 font-10 mb-1">Name</h4>
            </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="nameError" class="">
                <input
                  nz-input
                  placeholder="Student Name"
                  class=""
                  formControlName="name"
                />
              </nz-form-control>
              <ng-template #nameError let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Field cannot be empty
                </ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">
                  Name cannot have more than 40 characters
                </ng-container>
              </ng-template>
            </nz-form-item>
          </div>
          <div class="ant-col-24 mb-2">
            <nz-form-label [nzNoColon]="true">
              <h4 class="common-label font-500 font-10 mb-1">Student ID</h4>
            </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="nameError" class="">
                <input
                  nz-input
                  placeholder="Student ID"
                  class=""
                  formControlName="studentId"
                />
              </nz-form-control>
              <ng-template #nameError let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Field cannot be empty
                </ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">
                  Name cannot have more than 40 characters
                </ng-container>
              </ng-template>
            </nz-form-item>
          </div>
          <div class="ant-col-24 mb-2">
            <nz-form-label [nzNoColon]="true">
              <h4 class="common-label font-500 font-10 mb-1">Batch ID</h4>
            </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="nameError" class="">
                <input
                  nz-input
                  placeholder="Batch ID"
                  class=""
                  formControlName="batchId"
                />
              </nz-form-control>
              <ng-template #nameError let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Field cannot be empty
                </ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">
                  Name cannot have more than 40 characters
                </ng-container>
              </ng-template>
            </nz-form-item>
          </div>
          <div class="ant-col-24 mb-2">
            <nz-form-label [nzNoColon]="true">
              <h4 class="common-label font-500 font-10 mb-1">Phone</h4>
            </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="nameError" class="">
                <input
                  nz-input
                  placeholder="Phone Number"
                  class=""
                  formControlName="phone"
                />
              </nz-form-control>
              <ng-template #nameError let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Field cannot be empty
                </ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">
                  Name cannot have more than 40 characters
                </ng-container>
              </ng-template>
            </nz-form-item>
          </div>
          <div class="ant-col-24 mb-2">
            <nz-form-label [nzNoColon]="true">
              <h4 class="common-label font-500 font-10 mb-1">Email</h4>
            </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="nameError" class="">
                <input
                  nz-input
                  placeholder="Email Address"
                  class=""
                  formControlName="email"
                />
              </nz-form-control>
              <ng-template #nameError let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Field cannot be empty
                </ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">
                  Name cannot have more than 40 characters
                </ng-container>
              </ng-template>
            </nz-form-item>
          </div>
          <div class="ant-col-24 mb-2">
            <nz-form-label [nzNoColon]="true">
              <h4 class="common-label font-500 font-10 mb-1">Age</h4>
            </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="nameError" class="">
                <input
                  nz-input
                  placeholder="Age"
                  class=""
                  formControlName="age"
                />
              </nz-form-control>
              <ng-template #nameError let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Field cannot be empty
                </ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">
                  Name cannot have more than 40 characters
                </ng-container>
              </ng-template>
            </nz-form-item>
          </div>
          <div class="ant-col-24">
            <nz-form-label [nzNoColon]="true">
              <h4 class="common-label font-500 font-10 mb-1">Cuet Attempts</h4>
            </nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="nameError" class="">
                <nz-select
                  formControlName="cuetAttempts"
                  nzPlaceHolder="No attempts"
                  nzMode="multiple"
                >
                  <nz-option
                    *ngFor="let year of yearsOptions"
                    [nzValue]="year + ''"
                    [nzLabel]="year"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
              <ng-template #nameError let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Field cannot be empty
                </ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">
                  Name cannot have more than 40 characters
                </ng-container>
              </ng-template>
            </nz-form-item>
          </div>
        </div>
      </form>
    </nz-card>
  </div>
  @if (!accountDetails?.isPremium && !accountDetails?.isUpgradeable) {
    <div class="ant-col-md-10 px-md-4 px-0 mt-md-0 mt-4">
      <p class="enroll-text mb-4">
        Haven’t<br /><span>Enrolled</span><br />Yet?
      </p>
      <button nz-button ngSkipHydration class="enroll-btn">
        <span nz-icon nzType="form"></span>
        Enroll Now
      </button>
    </div>
  } @else if (!accountDetails?.isPremium && accountDetails?.isUpgradeable) {
    <div class="ant-col-md-10 px-md-4 px-0 mt-md-0 mt-4">
      <p class="upgrade-text mb-4">
        Haven’t<br /><span>Access</span><br />To All Things Yet?
      </p>
      <button nz-button ngSkipHydration class="enroll-btn">
        <span nz-icon>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 48 48"
            fill="none"
          >
            <path
              d="M34 22L24 12L14 22M34 36L24 26L14 36"
              stroke="#FFF"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
        Upgrade to <span class="font-600">Premium</span> Now
      </button>
    </div>
  } @else {
    <div class="ant-col-md-10 px-md-4 px-0 mt-md-0 mt-4">
      <p class="thank-you-text mb-4">
        Thanks for<br /><span>Supporting</span><br />Us!
      </p>
    </div>
  }
</div>
