<nz-layout class="app-layout admin">
  <nz-header>
    <div class="app-header row mx-0 align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
            >
              <path
                d="M3.75 15H21.25M3.75 7.5H26.25M3.75 22.5H26.25"
                stroke="#101828"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </span>
        <div class="d-flex flex-column align-items-start">
          <p class="font-16 font-500">Cuet Corner</p>
          <p class="font-10 font-400">Welcomes You!</p>
        </div>
      </div>
      <div class="user-info d-flex align-items-center">
        <div class="d-md-flex d-none flex-column align-items-end">
          <p class="font-12 font-500">{{ globalService?.userDetails?.name || '-' }}</p>
          <p class="font-10 font-400">{{ globalService?.userDetails?.email || '-' }}</p>
        </div>
        <div
          class="user-icon-div cursor-pointer"
          [routerLink]="['/', 'admin', 'admins']"
        >
          @if(globalService?.userDetails?.imageUrl){
            <img [src]="globalService?.userDetails?.imageUrl">
          } @else if(globalService?.userDetails?.isSuperAdmin) {
            <img src="https://cdn-icons-png.flaticon.com/512/1624/1624453.png">
          } @else {
            <span class="font-16 text-white" nz-icon nzType="user" nzTheme="outline"></span>
          }
        </div>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider
      class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="lg"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
      [style]="isCollapsed ? 'max-width: 0px; width: 0px; min-width:0px;' : ''"
    >
      <div
        id="side-info-box"
        class="admin-diagonal-gradient padding-lg"
        [style]="isCollapsed ? 'display:none;' : ''"
      >
        <h1 class="font-24 font-600 mb-1 text-white">{{ globalService?.userDetails?.name?.split(' ')[0] || '-' }}</h1>
        <p class="font-10 font-300 text-white">Admin ID: {{ globalService?.userDetails?.adminId || '-' }}</p>
        <p class="font-10 font-300 text-white">Role: {{ globalService?.userDetails?.role }}</p>
      </div>
      <ul
        nz-menu
        nzTheme="light"
        nzMode="inline"
        [nzInlineCollapsed]="isCollapsed"
      >
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Home' : ''"
          nzSelected
          nzMatchRouter="/admin/home"
          routerLink="/admin/home"
        >
          <span nz-icon nzType="home"></span>
          <span>Home</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Resources' : ''"
          nzSelected
          nzMatchRouter="/admin/resources"
          routerLink="/admin/resources"
        >
          <span nz-icon nzType="read"></span>
          <span>Resources</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Tests' : ''"
          nzSelected
          nzMatchRouter="/admin/tests"
          routerLink="/admin/tests"
        >
          <span nz-icon nzType="project"></span>
          <span>Tests</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Batches' : ''"
          nzSelected
          nzMatchRouter="/admin/batches"
          routerLink="/admin/batches"
        >
          <span nz-icon nzType="group"></span>
          <span>Batches</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Students' : ''"
          nzSelected
          nzMatchRouter="/admin/students"
          routerLink="/admin/students"
        >
          <span nz-icon nzType="usergroup-add"></span>
          <span>Students</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Events & Noti\'s' : ''"
          nzSelected
          nzMatchRouter="/admin/events-and-notifications"
          routerLink="/admin/events-and-notifications"
        >
          <span nz-icon nzType="bell" nzTheme="outline"></span>
          <span>Events & Notifications</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Admins' : ''"
          nzSelected
          nzMatchRouter="/admin/admins"
          routerLink="/admin/admins"
        >
          <span nz-icon>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 48 48"
              fill="none"
            >
              <path
                d="M32 42V38C32 35.8783 31.1571 33.8434 29.6569 32.3431C28.1566 30.8429 26.1217 30 24 30H10C7.87827 30 5.84344 30.8429 4.34315 32.3431C2.84285 33.8434 2 35.8783 2 38V42M34 22L38 26L46 18M25 14C25 18.4183 21.4183 22 17 22C12.5817 22 9 18.4183 9 14C9 9.58172 12.5817 6 17 6C21.4183 6 25 9.58172 25 14Z"
                stroke="#1E1E1E"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
          <span>Admins</span>
        </li>
      </ul>
      <div *ngIf="!isCollapsed" class="d-flex justify-content-center px-4 mt-4">
        <button
          nz-button
          class="btn-a-secondary w-100"
          (click)="isLogoutModal = true"
        >
          Logout
        </button>
      </div>
    </nz-sider>

    <nz-content>
      <ngx-simplebar
        [options]="{}"
        style="overflow-y: auto; max-height: calc(100vh - 64px); padding: 24px"
      >
        <section class="ant-row ant-row-center">
          <section
            style="position: relative"
            class="ant-col-xs-24 ant-col-xl-22 ant-col-xxl-20"
          >
            <router-outlet></router-outlet>
          </section>
        </section>
      </ngx-simplebar>
    </nz-content>
  </nz-layout>
</nz-layout>

<nz-modal
  [(nzVisible)]="isLogoutModal"
  nzMaskClosable
  [nzFooter]="null"
  nzCentered
  (nzOnCancel)="isLogoutModal = false"
  [nzWidth]="'auto'"
>
  <ng-container *nzModalContent>
    <p class="font-20 font-500">
      <span
        class="mr-2 text-primary"
        nz-icon
        nzType="info-circle"
        nzTheme="outline"
      ></span>
      Confirmation
    </p>
    <p class="font-14 font-400 mt-3">Are you sure you want to logout?</p>
    <div class="d-flex px-0 mt-3">
      <button
        nz-button
        class="mr-1 w-50 btn-a-secondary"
        (click)="isLogoutModal = false"
      >
        Cancel
      </button>
      <button
        nz-button
        class="ml-1 w-50 btn-a-primary"
        (click)="onClickLogout()"
      >
        Logout
      </button>
    </div>
  </ng-container>
</nz-modal>
