<nz-layout class="app-layout">
  <nz-header>
    <div class="app-header">
      <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
        <span
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        ></span>
      </span>
    </div>
  </nz-header>
  <nz-layout class="admin-layout">
    <nz-sider
      class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="lg"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
      [style]="isCollapsed ? 'max-width: 0px; width: 0px; min-width:0px;' : ''"
    >
      <div
        id="side-info-box"
        class="admin-diagonal-gradient padding-lg"
        [style]="isCollapsed ? 'display:none;' : ''"
      >
        <h1 class="font-24 font-600 mb-1 text-white">Aditya</h1>
        <p class="font-10 font-300 text-white">Student ID: 1</p>
        <p class="font-10 font-300 text-white">Batch ID: 1</p>
        <p class="font-10 font-300 text-white">Subscription ID: 1</p>
      </div>
      <ul
        nz-menu
        nzTheme="light"
        nzMode="inline"
        [nzInlineCollapsed]="isCollapsed"
      >
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Home' : ''"
          nzSelected
          nzMatchRouter="/admin/home"
          routerLink="/admin/home"
        >
          <span nz-icon nzType="home"></span>
          <span>Home</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Resources' : ''"
          nzSelected
          nzMatchRouter="/admin/resources"
          routerLink="/admin/resources"
        >
          <span nz-icon nzType="book"></span>
          <span>Resources</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Tests' : ''"
          nzSelected
          nzMatchRouter="/admin/tests"
          routerLink="/admin/tests"
        >
          <span nz-icon nzType="snippets"></span>
          <span>Tests</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Batches' : ''"
          nzSelected
          nzMatchRouter="/admin/batches"
          routerLink="/admin/batches"
        >
          <span nz-icon nzType="group"></span>
          <span>Batches</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Students' : ''"
          nzSelected
          nzMatchRouter="/admin/students"
          routerLink="/admin/students"
        >
          <span nz-icon nzType="usergroup-add"></span>
          <span>Students</span>
        </li>
      </ul>
    </nz-sider>

    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
