<nz-layout class="app-layout admin">
  <nz-header>
    <div class="app-header">
      <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
        <span
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        ></span>
      </span>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider
      class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="lg"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
      [style]="isCollapsed ? 'max-width: 0px; width: 0px; min-width:0px;' : ''"
    >
      <div
        id="side-info-box"
        class="admin-diagonal-gradient padding-lg"
        [style]="isCollapsed ? 'display:none;' : ''"
      >
        <h1 class="font-24 font-600 mb-1 text-white">Aditya</h1>
        <p class="font-10 font-300 text-white">Student ID: 1</p>
        <p class="font-10 font-300 text-white">Batch ID: 1</p>
        <p class="font-10 font-300 text-white">Subscription ID: 1</p>
      </div>
      <ul
        nz-menu
        nzTheme="light"
        nzMode="inline"
        [nzInlineCollapsed]="isCollapsed"
      >
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Home' : ''"
          nzSelected
          nzMatchRouter="/admin/home"
          routerLink="/admin/home"
        >
          <span nz-icon nzType="home"></span>
          <span>Home</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Resources' : ''"
          nzSelected
          nzMatchRouter="/admin/resources"
          routerLink="/admin/resources"
        >
          <span nz-icon nzType="read"></span>
          <span>Resources</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Tests' : ''"
          nzSelected
          nzMatchRouter="/admin/tests"
          routerLink="/admin/tests"
        >
          <span nz-icon nzType="project"></span>
          <span>Tests</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Batches' : ''"
          nzSelected
          nzMatchRouter="/admin/batches"
          routerLink="/admin/batches"
        >
          <span nz-icon nzType="group"></span>
          <span>Batches</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Students' : ''"
          nzSelected
          nzMatchRouter="/admin/students"
          routerLink="/admin/students"
        >
          <span nz-icon nzType="usergroup-add"></span>
          <span>Students</span>
        </li>
      </ul>
      <div *ngIf="!isCollapsed" class="d-flex justify-content-center px-4 mt-4">
        <button
          nz-button
          class="btn-a-secondary w-100"
          (click)="isLogoutModal = true;"
        >Logout</button>
      </div>
    </nz-sider>

    <nz-content>
      <ngx-simplebar
        [options]="{}"
        style="overflow-y: auto; max-height: calc(100vh - 64px); padding: 24px"
      >
        <section class="ant-row ant-row-center">
          <section style="position: relative" class="ant-col-xs-24 ant-col-xl-22 ant-col-xxl-20">
            <router-outlet></router-outlet>
          </section>
        </section>
      </ngx-simplebar>
    </nz-content>
  </nz-layout>
</nz-layout>

<nz-modal
  [(nzVisible)]="isLogoutModal"
  nzMaskClosable
  [nzFooter]="null"
  nzCentered
  (nzOnCancel)="isLogoutModal = false"
  [nzWidth]="'auto'"
>
  <ng-container *nzModalContent>
    <p class="font-20 font-500">
      <span class="mr-2 text-primary" nz-icon nzType="info-circle" nzTheme="outline"></span>
      Confirmation
    </p>
    <p class="font-14 font-400 mt-3"> Are you sure you want to logout? </p>
    <div class="d-flex px-0 mt-3">
      <button nz-button class="mr-1 w-50 btn-a-secondary" (click)="isLogoutModal = false">Cancel</button>
      <button nz-button class="ml-1 w-50 btn-a-primary" (click)="onClickLogout()">Logout</button>
    </div>
  </ng-container>
</nz-modal>

