<nz-breadcrumb nzSeparator=">">
  <nz-breadcrumb-item routerLink="/student/resources" class="cursor-pointer">Resources</nz-breadcrumb-item>
  <nz-breadcrumb-item class="cursor-pointer">{{ subjectName }}</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-card nzBorderless nzHoverable>
  <p class="font-16 font-500 mb-2">List of Topics</p>
  <div *ngIf="!topics || topics?.length === 0" class="mt-2 d-flex align-items-center">
    <img
      src="assets/images/not-found-2.svg"
      height="160"
      alt=""
    />
    <p class="ml-4 font-20 font-300 text-8a">O! Oh! No topics found!</p>
  </div>
  <div id="topics-container" class="ant-row mx-n1">
    <div
      class="ant-col-xs-24 ant-col-md-12 ant-col-xl-8 p-1"
      *ngFor="let topic of topics"
      (click)="onClickTopic(topic.id)"
    >
      <div
        class="topic ant-row ant-row-middle"
      >
        <div class="ant-col-xl-6 ant-col-5">
          <div class="topic-icon student-diagonal-gradient">
            <img src="assets/icon/leaderboard-badge.svg" alt="" />
          </div>
        </div>
        <div class="ant-col-xl-18 ant-col-19">
          <p class="text-primary font-16 font-500 mb-1">
            {{ topic.name }}
          </p>
          <p class="font-10 font-500">Materials: {{ topic?.material }}</p>
        </div>
      </div>
    </div>
  </div>
</nz-card>
