.metric-cards .card {
  padding: 0.75rem;
  border-radius: 8px;
}
.metric-cards .card.test-card {
  border: 1px solid rgba(255, 184, 0, 0.25);
  background: linear-gradient(89deg, rgba(255, 210, 95, 0.2) 0%, rgba(255, 210, 95, 0.5) 100%);
  box-shadow: 4px 4px 20px 0px rgba(255, 183, 0, 0.2);
}
.metric-cards .card.test-card .main-text, .metric-cards .card.test-card .button {
  color: rgb(255, 184, 0);
}
.metric-cards .card.best-student-card {
  border: 1px solid rgba(0, 163, 255, 0.25);
  background: linear-gradient(89deg, rgba(0, 163, 255, 0.2) 0%, rgba(0, 163, 255, 0.5) 100%);
  box-shadow: 4px 4px 20px 0px rgba(0, 163, 255, 0.2);
}
.metric-cards .card.best-student-card .main-text, .metric-cards .card.best-student-card .button {
  color: rgb(0, 163, 255);
}
.metric-cards .card.worst-student-card {
  border: 1px solid rgba(255, 97, 97, 0.25);
  background: linear-gradient(89deg, rgba(255, 97, 97, 0.2) 0%, rgba(255, 97, 97, 0.5) 100%);
  box-shadow: 4px 4px 20px 0px rgba(255, 97, 97, 0.2);
}
.metric-cards .card.worst-student-card .main-text, .metric-cards .card.worst-student-card .button {
  color: rgb(255, 97, 97);
}

.overall-performance-card .best-batch {
  padding: 0.25rem 0.5rem;
  width: 100%;
  border-radius: 6px;
  border: 1px solid rgba(0, 163, 255, 0.25);
  background: linear-gradient(89deg, rgba(0, 125, 212, 0.16) 0%, rgba(0, 163, 255, 0.4) 100%);
}
.overall-performance-card .worst-batch {
  padding: 0.25rem 0.5rem;
  width: 100%;
  border-radius: 6px;
  border: 1px solid rgba(255, 97, 97, 0.25);
  background: linear-gradient(89deg, rgba(255, 97, 97, 0.25) 0%, rgba(255, 97, 97, 0.5) 100%);
}

.manage-resources button, .manage-tests button, .manage-entities button {
  width: 100%;
}

::ng-deep #best-students-modal .ant-table-thead > tr > th {
  background-color: #008cff;
  color: #FFF;
}

.events .admin-image-div, .notifications .admin-image-div {
  height: 36px;
  width: 36px;
  aspect-ratio: 1 !important;
  border-radius: 50%;
  background: linear-gradient(to top right, #007dd4, #00a3ff);
  display: flex;
  align-items: center;
  justify-content: center;
}
.events .admin-image-div img, .notifications .admin-image-div img {
  height: 32px;
  width: 32px;
  aspect-ratio: 1 !important;
  border-radius: 50%;
}
