<nz-breadcrumb nzSeparator=">">
  <nz-breadcrumb-item class="cursor-pointer">Tests</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-card nzBorderless nzHoverable>
  <nz-tabs>
    <nz-tab nzTitle="Live/Recorded Tests">
      <ng-template nz-tab>
        <p class="font-12 font-400">Search Test</p>
        <div class="row justify-content-between align-items-start mb-3 mt-1">
          <div [class]="globalService.userDetails?.permissions?.create_test ? 'col-md-9 col-xl-9' : 'col-md-12'">
            <div class="row mx-n2">
              <div class="col-md-4 px-2">
                <input
                  nz-input
                  type="text"
                  placeholder="Search Test Name"
                  [(ngModel)]="liveSearch"
                />
              </div>
              <div class="col-md-4 mt-md-0 px-2 mt-2">
                <nz-select
                  nzPlaceHolder="Select Batch"
                  [(ngModel)]="liveSearchBatch"
                  nzShowSearch
                  nzAllowClear
                  (ngModelChange)="getLiveTests()"
                >
                  <nz-option *ngFor="let batch of batches" [nzValue]="batch?.id" [nzLabel]="batch?.name"></nz-option>
                </nz-select>
              </div>
              <div class="col-md-4 mt-md-0 px-2 mt-2">
                <nz-select
                  nzPlaceHolder="Select Type"
                  [(ngModel)]="selectLiveType"
                  nzShowSearch
                  nzAllowClear
                  (ngModelChange)="getLiveTests()"
                >
                  <nz-option [nzValue]="'all'" [nzLabel]="'All'"></nz-option>
                  <nz-option [nzValue]="'free'" [nzLabel]="'Free'"></nz-option>
                  <nz-option [nzValue]="'paid'" [nzLabel]="'Paid'"></nz-option>
                </nz-select>
              </div>
              <div class="col-md-4 px-2 mt-2">
                <button
                  nz-button
                  class="btn-a-secondary w-100"
                  (click)="getLiveTests()"
                >
                  Filter
                  <span nz-icon nzType="search"></span>
                </button>
              </div>
            </div>
          </div>
          <div
            class="col-md-3 col-xl-3 mt-md-0 mt-3 d-flex justify-content-end"
            *ngIf="globalService.userDetails?.permissions?.create_test"
          >
            <button
              nz-button
              class="btn-a-primary w-100"
              [routerLink]="['create']"
            >
              <span nz-icon nzType="plus"></span>
              Add Test
            </button>
          </div>
        </div>
        <nz-table
          [nzData]="liveTests"
          [nzFrontPagination]="false"
          [nzShowSizeChanger]="true"
          [nzShowPagination]="true"
          [nzTotal]="totalLiveTestCount"
          [nzPageIndex]="livePageIndex"
          [nzPageSize]="livePageSize"
          [nzShowTotal]="printLiveCount"
          (nzQueryParams)="liveTests ? getLiveTests($event) : ''"
          [nzScroll]="{ x: '880px' }"
        >
          <thead>
            <tr>
              <th class="text-center" [nzWidth]="'64px'">Sl. No.</th>
              <th [nzWidth]="'160px'">Name</th>
              <th class="text-center" [nzWidth]="'84px'">Questions</th>
              <th class="text-center" [nzWidth]="'160px'">Start Time</th>
              <th class="text-center" [nzWidth]="'160px'">End Time</th>
              <th class="text-center" [nzWidth]="'64px'">Type</th>
              <th class="text-center" [nzWidth]="'84px'">Duration</th>
              <th class="text-center" [nzWidth]="'48px'"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let test of liveTests; let i = index"
              (click)="onClickTest($event, 'live', test?.id)"
            >
              <td class="text-center">{{ i + 1 }}</td>
              <td>{{ test?.name || '-' }}</td>
              <td class="text-center">
                {{ test?.totalQuestions || '-' }}
              </td>
              <td class="text-center">
                {{ test?.startTime ? (test?.startTime | date: "dd MMM yyyy") : '-' }} {{ "@ "+ (test?.startTime ? (test?.startTime | date: "hh:mm a") : '-') }}
              </td>
              <td class="text-center">
                {{ test?.endTime ? (test?.endTime | date: "dd MMM yyyy") : '-' }} {{ "@ " + (test?.endTime ? (test?.endTime | date: "hh:mm a") : '-')}}
              </td>
              <td
                class="text-center font-600"
                [class]="test?.isFree ? 'text-free' : 'text-a-primary'"
              >
                {{ test.isFree ? "Free" : "Paid" }}
              </td>
              <td class="text-center">
                {{ Math.floor(test?.duration / 60) }} hr
                {{ test?.duration % 60 }} min
              </td>
              <td class="text-center dropdown-container">
                <a
                  class="text-dark font-size-20"
                  nz-dropdown
                  [nzClickHide]="false"
                  [nzTrigger]="'click'"
                  [nzPlacement]="'bottomRight'"
                  [nzDropdownMenu]="latestUploadDropDown"
                >
                  <i nz-icon nzType="ellipsis" theme="outline"></i>
                </a>
                <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                  <ul class="table-menu rounded" nz-menu>
                    <li
                      class="tiny-li"
                      nz-menu-item
                      [nzDisabled]="!globalService.userDetails?.permissions?.edit_live_test"
                      [routerLink]="globalService.userDetails?.permissions?.edit_live_test ? [
                        '/',
                        'admin',
                        'tests',
                        'edit-live',
                        test?.id,
                      ] : []"
                    >
                      <span class="m-l-5">Edit</span>
                    </li>
                    <li
                      class="tiny-li"
                      nz-menu-item
                      [nzDisabled]="!globalService.userDetails?.permissions?.change_test_type"
                      (click)="globalService.userDetails?.permissions?.change_test_type ? onChangeType(test?.id, 'live') : null"
                    >
                      <span class="m-l-5" >Set as {{ test?.isFree ? 'Paid' : 'Free' }}</span>
                    </li>
                    @if(!(test?.batchId?.length === 0 && test?.isFree)){
                      <li
                        class="tiny-li"
                        nz-menu-item
                        [nzDisabled]="!globalService.userDetails?.permissions?.change_test_type"
                        (click)="globalService.userDetails?.permissions?.change_test_type ? onChangeType(test?.id, 'live', 'free-for-all') : null"
                      >
                        <span class="m-l-5" >Set as Free for All</span>
                      </li>
                    }
                    <li
                      class="tiny-li"
                      nz-menu-item
                      [nzDisabled]="!globalService.userDetails?.permissions?.delete_test"
                      (click)="globalService.userDetails?.permissions?.delete_test ? onClickDeleteTest(test?.id, 'live') : null"
                    >
                      <span class="m-l-5 text-red">Delete</span>
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <ng-template #printLiveCount>
          <div *ngIf="!totalLiveTestCount" class="font-weight-normal">
            No Results Found
          </div>
          <div *ngIf="totalLiveTestCount" class="font-weight-normal">
            <b>{{ totalLiveTestCount }}</b> Results Found
          </div>
        </ng-template>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Mock Tests">
      <ng-template nz-tab>
        <p class="font-12 font-400">Search Test</p>
        <div class="row justify-content-between align-items-start mb-3 mt-1">
          <div [class]="globalService.userDetails?.permissions?.create_test ?'col-md-9' : 'col-md-12'" class="col-xl-9">
            <div class="row mx-n2">
              <div class="col-md-4 px-2">
                <input
                  nz-input
                  type="text"
                  placeholder="Search Test Name"
                  [(ngModel)]="mockSearch"
                />
              </div>
              <div class="col-md-4 mt-md-0 px-2 mt-2">
                <nz-select
                  nzPlaceHolder="Select Type"
                  [(ngModel)]="selectMockType"
                  nzShowSearch
                  nzAllowClear
                  (ngModelChange)="getMockTests()"
                >
                  <nz-option [nzValue]="'all'" [nzLabel]="'All'"></nz-option>
                  <nz-option [nzValue]="'free'" [nzLabel]="'Free'"></nz-option>
                  <nz-option [nzValue]="'paid'" [nzLabel]="'Paid'"></nz-option>
                </nz-select>
              </div>
              <div class="col-md-4 mt-md-0 px-2 mt-2">
                <button
                  nz-button
                  class="btn-a-secondary w-100"
                  (click)="getMockTests()"
                >
                  Filter
                  <span nz-icon nzType="search"></span>
                </button>
              </div>
            </div>
          </div>
          <div
            class="col-md-3 col-xl-3 mt-md-0 mt-3 d-flex justify-content-end"
            *ngIf="globalService.userDetails?.permissions?.create_test"
          >
            <button
              nz-button
              class="btn-a-primary w-100"
              [routerLink]="['create']"
            >
              <span nz-icon nzType="plus"></span>
              Add Test
            </button>
          </div>
        </div>
        <nz-table
          [nzData]="mockTests"
          [nzFrontPagination]="false"
          [nzShowSizeChanger]="true"
          [nzShowPagination]="true"
          [nzTotal]="totalMockTestCount"
          [nzPageIndex]="mockPageIndex"
          [nzPageSize]="mockPageSize"
          [nzShowTotal]="printMockCount"
          (nzQueryParams)="mockTests ? getMockTests($event) : ''"
          [nzScroll]="{ x: '680px' }"
        >
          <thead>
            <tr>
              <th class="text-center" [nzWidth]="'64px'">Sl. No.</th>
              <th [nzWidth]="'160px'">Name</th>
              <th class="text-center" [nzWidth]="'84px'">Subject</th>
              <th class="text-center" [nzWidth]="'84px'">Questions</th>
              <th class="text-center" [nzWidth]="'64px'">Type</th>
              <th class="text-center" [nzWidth]="'84px'">Duration</th>
              <th class="text-center" [nzWidth]="'48px'"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let test of mockTests; let i = index"
              (click)="onClickTest($event, 'mock', test?.id)"
            >
              <td class="text-center">{{ ((mockPageIndex - 1) * mockPageSize) + (i + 1) }}</td>
              <td>{{ test?.name || '-' }}</td>
              <td class="text-center">
                {{ test?.subject || '-' }}
              </td>
              <td class="text-center">
                {{ test?.totalQuestions || '-' }}
              </td>
              <td
                class="text-center font-600"
                [class]="test?.isFree ? 'text-free' : 'text-a-primary'"
              >
                {{ test.isFree ? "Free" : "Paid" }}
              </td>
              <td class="text-center">
                {{ Math.floor(test?.duration / 60) }} hr
                {{ test?.duration % 60 }} min
              </td>
              <td class="text-center dropdown-container">
                <a
                  class="text-dark font-size-20"
                  nz-dropdown
                  [nzClickHide]="false"
                  [nzTrigger]="'click'"
                  [nzPlacement]="'bottomRight'"
                  [nzDropdownMenu]="latestUploadDropDown"
                >
                  <i nz-icon nzType="ellipsis" theme="outline"></i>
                </a>
                <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                  <ul class="table-menu rounded" nz-menu>
                    <li
                      class="tiny-li"
                      nz-menu-item
                      [nzDisabled]="!globalService.userDetails?.permissions?.edit_mock_test"
                      [routerLink]="globalService.userDetails?.permissions?.edit_mock_test ? [
                        '/',
                        'admin',
                        'tests',
                        'edit-mock',
                        test?.id,
                      ] : []"
                    >
                      <span class="m-l-5">Edit</span>
                    </li>
                    <li
                      class="tiny-li"
                      nz-menu-item
                      [nzDisabled]="!globalService.userDetails?.permissions?.change_test_type"
                      (click)="globalService.userDetails?.permissions?.change_test_type ? onChangeType(test?.id, 'mock') : null"
                    >
                      <span class="m-l-5" >Set as {{ test?.isFree ? 'Paid' : 'Free' }}</span>
                    </li>
                    <li
                      class="tiny-li"
                      nz-menu-item
                      [nzDisabled]="!globalService.userDetails?.permissions?.delete_test"
                      (click)="globalService.userDetails?.permissions?.delete_test ? onClickDeleteTest(test?.id, 'mock') : null"
                    >
                      <span class="m-l-5 text-red">Delete</span>
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <ng-template #printMockCount>
          <div *ngIf="!totalMockTestCount" class="font-weight-normal">
            No Results Found
          </div>
          <div *ngIf="totalMockTestCount" class="font-weight-normal">
            <b>{{ totalMockTestCount }}</b> Results Found
          </div>
        </ng-template>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Topic Wise Tests">
      <ng-template nz-tab>
        <p class="font-12 font-400">Search Test</p>
        <div class="row justify-content-between align-items-start mb-3 mt-1">
          <div [class]="globalService.userDetails?.permissions?.create_test ? 'col-md-9 col-xl-9' : 'col-12'">
            <div class="row mx-n2">
              <div [class.col-xl-3]="!globalService.userDetails?.permissions?.create_test" class="col-md-4 px-2">
                <input
                  nz-input
                  type="text"
                  placeholder="Search Test Name"
                  [(ngModel)]="topicSearch"
                />
              </div>
              <div [class.col-xl-3]="!globalService.userDetails?.permissions?.create_test" class="col-md-4 mt-md-0 px-2 mt-2">
                <nz-select
                  nzPlaceHolder="Select Subject"
                  [(ngModel)]="topicSearchSubject"
                  nzShowSearch
                  nzAllowClear
                  (ngModelChange)="getTopicTests()"
                >
                  <nz-option *ngFor="let subject of subjects" [nzValue]="subject?.id" [nzLabel]="subject?.name"></nz-option>
                </nz-select>
              </div>
              <div [class.col-xl-3]="!globalService.userDetails?.permissions?.create_test" class="col-md-4 mt-md-0 px-2 mt-2">
                <nz-select
                  nzPlaceHolder="Select Topic"
                  [(ngModel)]="topicSearchTopic"
                  nzShowSearch
                  nzAllowClear
                  (ngModelChange)="getTopicTests()"
                >
                  @for(topic of topics; track $index){
                    <nz-option *ngIf="!topicSearchSubject || topic?.subjectId === topicSearchSubject" [nzValue]="topic?.id" [nzLabel]="topic?.name"></nz-option>
                  }
                </nz-select>
              </div>
              <div [class.col-xl-3]="!globalService.userDetails?.permissions?.create_test" class="col-md-4 px-2 mt-xl-0 mt-2">
                <nz-select
                  nzPlaceHolder="Select Type"
                  [(ngModel)]="selectTopicType"
                  nzShowSearch
                  nzAllowClear
                  (ngModelChange)="getTopicTests()"
                >
                  <nz-option [nzValue]="'all'" [nzLabel]="'All'"></nz-option>
                  <nz-option [nzValue]="'free'" [nzLabel]="'Free'"></nz-option>
                  <nz-option [nzValue]="'paid'" [nzLabel]="'Paid'"></nz-option>
                </nz-select>
              </div>
              <div [class.col-xl-3]="!globalService.userDetails?.permissions?.create_test" class="col-md-4 px-2 mt-2">
                <button
                  nz-button
                  class="btn-a-secondary w-100"
                  (click)="getTopicTests()"
                >
                  Filter
                  <span nz-icon nzType="search"></span>
                </button>
              </div>
            </div>
          </div>
          <div
            class="col-md-3 col-xl-3 mt-md-0 mt-3 d-flex justify-content-end"
            *ngIf="globalService.userDetails?.permissions?.create_test"
          >
            <button
              nz-button
              class="btn-a-primary filter-btn w-100"
              [routerLink]="['create']"
            >
              <span nz-icon nzType="plus"></span>
              Add Test
            </button>
          </div>
        </div>
        <nz-table
          [nzData]="topicTests"
          [nzFrontPagination]="false"
          [nzShowSizeChanger]="true"
          [nzShowPagination]="true"
          [nzTotal]="totalTopicTestCount"
          [nzPageIndex]="topicPageIndex"
          [nzPageSize]="topicPageSize"
          [nzShowTotal]="printTopicCount"
          [nzScroll]="{ x: '680px' }"
          (nzQueryParams)="topicTests ? getTopicTests($event) : ''"
        >
          <thead>
            <tr>
              <th class="text-center" [nzWidth]="'64px'">Sl. No.</th>
              <th [nzWidth]="'160px'">Name</th>
              <th class="text-center" [nzWidth]="'84px'">Topic</th>
              <th class="text-center" [nzWidth]="'84px'">Questions</th>
              <th class="text-center" [nzWidth]="'64px'">Type</th>
              <th class="text-center" [nzWidth]="'84px'">Duration</th>
              <th class="text-center" [nzWidth]="'48px'"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let test of topicTests; let i = index"
              (click)="onClickTest($event, 'topic', test?.id)"
            >
              <td class="text-center">{{ ((topicPageIndex - 1) * topicPageSize) + (i + 1) }}</td>
              <td>{{ test?.name || '-' }}</td>
              <td class="text-center">
                {{ test?.topic?.name || '-' }}
              </td>
              <td class="text-center">
                {{ test?.totalQuestions || '-' }}
              </td>
              <td
                class="text-center font-600"
                [class]="test?.isFree ? 'text-free' : 'text-a-primary'"
              >
                {{ test.isFree ? "Free" : "Paid" }}
              </td>
              <td class="text-center">
                {{ Math.floor(test?.duration / 60) }} hr
                {{ test?.duration % 60 }} min
              </td>
              <td class="text-center dropdown-container">
                <a
                  class="text-dark font-size-20"
                  nz-dropdown
                  [nzClickHide]="false"
                  [nzTrigger]="'click'"
                  [nzPlacement]="'bottomRight'"
                  [nzDropdownMenu]="latestUploadDropDown"
                >
                  <i nz-icon nzType="ellipsis" theme="outline"></i>
                </a>
                <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                  <ul class="table-menu rounded" nz-menu>
                    <li
                      class="tiny-li"
                      nz-menu-item
                      [nzDisabled]="!globalService.userDetails?.permissions?.edit_topic_test"
                      [routerLink]="globalService.userDetails?.permissions?.edit_topic_test ? [
                        '/',
                        'admin',
                        'tests',
                        'edit-topic',
                        test?.id,
                      ] : []"
                    >
                      <span class="m-l-5">Edit</span>
                    </li>
                    <li
                      class="tiny-li"
                      nz-menu-item
                      [nzDisabled]="!globalService.userDetails?.permissions?.change_test_type"
                      (click)="globalService.userDetails?.permissions?.change_test_type ? onChangeType(test?.id, 'topic') : null"
                    >
                      <span class="m-l-5" >Set as {{ test?.isFree ? 'Paid' : 'Free' }}</span>
                    </li>
                    <li
                      class="tiny-li"
                      nz-menu-item
                      [nzDisabled]="!globalService.userDetails?.permissions?.delete_test"
                      (click)="globalService.userDetails?.permissions?.delete_test ? onClickDeleteTest(test?.id, 'topic') : null"
                    >
                      <span class="m-l-5 text-red">Delete</span>
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <ng-template #printTopicCount>
          <div *ngIf="!totalTopicTestCount" class="font-weight-normal">
            No Results Found
          </div>
          <div *ngIf="totalTopicTestCount" class="font-weight-normal">
            <b>{{ totalTopicTestCount }}</b> Results Found
          </div>
        </ng-template>
      </ng-template>
    </nz-tab>
  </nz-tabs>
</nz-card>
