<nz-layout class="app-layout student">
  <nz-header>
    <div class="app-header row mx-0 align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
            >
              <path
                d="M3.75 15H21.25M3.75 7.5H26.25M3.75 22.5H26.25"
                stroke="#101828"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </span>
        <div class="d-flex flex-column align-items-start">
          <p class="font-16 font-500">Cuet Corner</p>
          <p class="font-10 font-400">Welcomes You!</p>
        </div>
      </div>
      <div class="user-info d-flex align-items-center">
        <div class="d-md-flex d-none flex-column align-items-end">
          <p class="font-12 font-500">{{ globalService.userDetails?.name || '-' }}</p>
          <p class="font-10 font-400">{{ globalService.userDetails?.email || '-' }}</p>
        </div>
        <div class="user-icon-div" [routerLink]="['/', 'student', 'account']">
          @if(globalService.userDetails?.imageUrl){
            <img [src]="globalService.userDetails?.imageUrl" alt="">
          } @else {
            <span class="font-16 text-white" nz-icon nzType="user" nzTheme="outline"></span>
          }
        </div>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider
      class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="lg"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
      [style]="isCollapsed ? 'max-width: 0px; width: 0px; min-width:0px;' : ''"
    >
      <div
        id="side-info-box"
        class="student-diagonal-gradient padding-lg"
        [style]="isCollapsed ? 'display:none;' : ''"
      >
        <h1 class="font-24 font-600 mb-1 text-white">
          {{ globalService.userDetails?.name?.split(" ")[0] || "-" }}
        </h1>
        <p class="font-10 font-300 text-white">
          Student ID: {{ globalService.userDetails?.id }}
        </p>
        <p class="font-10 font-300 text-white">
          Batch:
          {{
            globalService.userDetails?.batchId
              ? globalService.userDetails?.batchName
              : "- (Un-enrolled)"
          }}
        </p>
        <p class="font-10 font-300 text-white">
          Plan: {{ globalService.userDetails?.plan }}
        </p>
      </div>
      <ul
        nz-menu
        nzTheme="light"
        nzMode="inline"
        [nzInlineCollapsed]="isCollapsed"
      >
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Home' : ''"
          nzSelected
          nzMatchRouter="/student/home"
          routerLink="/student/home"
        >
          <span nz-icon nzType="home"></span>
          <span>Home</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Resources' : ''"
          nzSelected
          nzMatchRouter="/student/resources"
          routerLink="/student/resources"
        >
          <span nz-icon nzType="read"></span>
          <span>Resources</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'Tests' : ''"
          nzSelected
          nzMatchRouter="/student/tests"
          routerLink="/student/tests"
        >
          <span nz-icon nzType="project"></span>
          <span>Tests</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'My Performances' : ''"
          nzSelected
          nzMatchRouter="/student/performances"
          routerLink="/student/performances"
        >
          <span nz-icon nzType="line-chart"></span>
          <span>My Performances</span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? 'My Account' : ''"
          nzSelected
          nzMatchRouter="/student/account"
          routerLink="/student/account"
        >
          <span nz-icon nzType="user"></span>
          <span>My Account</span>
        </li>
      </ul>
      <div *ngIf="!isCollapsed" class="d-flex justify-content-center px-4 mt-4">
        <button
          nz-button
          class="btn-secondary w-100"
          (click)="isLogoutModal = true"
        >
          Logout
        </button>
      </div>
    </nz-sider>

    <nz-content>
      <ngx-simplebar
        [options]="{}"
        style="overflow-y: auto; max-height: calc(100vh - 64px); padding: 24px"
      >
        <section class="ant-row ant-row-center">
          <section class="ant-col-xs-24 ant-col-xl-22 ant-col-xxl-20">
            <div class="route-stage route-stage--inner" [@routeAnimations]="getRouteState(outlet)">
              <router-outlet #outlet="outlet"></router-outlet>
            </div>
          </section>
        </section>
      </ngx-simplebar>
    </nz-content>
  </nz-layout>
</nz-layout>

<nz-modal
  [(nzVisible)]="isLogoutModal"
  nzMaskClosable
  [nzFooter]="null"
  nzCentered
  (nzOnCancel)="isLogoutModal = false"
  [nzWidth]="'auto'"
>
  <ng-container *nzModalContent>
    <p class="font-20 font-500">
      <span
        class="mr-2 text-primary"
        nz-icon
        nzType="info-circle"
        nzTheme="outline"
      ></span>
      Confirmation
    </p>
    <p class="font-14 font-400 mt-3">Are you sure you want to logout?</p>
    <div class="d-flex px-0 mt-3">
      <button
        nz-button
        class="mr-1 w-50 btn-secondary"
        (click)="isLogoutModal = false"
      >
        Cancel
      </button>
      <button nz-button class="ml-1 w-50 btn-primary" (click)="onClickLogout()">
        Logout
      </button>
    </div>
  </ng-container>
</nz-modal>
