<nz-breadcrumb nzSeparator=">">
  <nz-breadcrumb-item routerLink="/admin/tests" class="cursor-pointer"
    >Tests</nz-breadcrumb-item
  >
  <nz-breadcrumb-item class="cursor-pointer"> Test Details </nz-breadcrumb-item>
</nz-breadcrumb>
<nz-card nzHoverable nzBorderless>
  <div class="ant-row justify-content-between mb-2">
    <p class="font-16 font-400">Test Details</p>
    <button
      nz-button
      class="btn-a-secondary"
      [routerLink]="['/', 'admin', 'tests', 'edit-live', 1]"
    >
      <span nz-icon nzType="edit"></span>
      Edit Test
    </button>
  </div>

  <div class="ant-row">
    <div class="ant-col-md-12 ant-col-24">
      <div class="ant-row">
        <div class="ant-col-9 pr-1 font-12 font-300">Test ID</div>
        <div class="ant-col-1 px-1 font-12 font-300">:</div>
        <div class="ant-col-14 pl-1 font-12 font-400 text-a-primary">
          {{ testDetails?.id || "-" }}
        </div>
      </div>
    </div>

    <div class="ant-col-md-12 ant-col-24  mt-md-0 mt-2">
      <div class="ant-row">
        <div class="ant-col-9 pr-1 font-12 font-300">Test Duration</div>
        <div class="ant-col-1 px-1 font-12 font-300">:</div>
        <div class="ant-col-14 pl-1 font-12 font-400 text-a-primary">
          {{ Math.floor(testDetails?.duration / 60) }} hr
          {{ testDetails?.duration % 60 }} min
        </div>
      </div>
    </div>

    <div class="ant-col-md-12 ant-col-24 mt-2">
      <div class="ant-row">
        <div class="ant-col-9 pr-1 font-12 font-300">Total Questions</div>
        <div class="ant-col-1 px-1 font-12 font-300">:</div>
        <div class="ant-col-14 pl-1 font-12 font-400 text-a-primary">
          {{ testDetails?.totalQuestions || "-" }}
          <span class="text-dark font-300 cursor-pointer" (click)="onModalOpen()">
            (View Questions)</span
          >
        </div>
      </div>
    </div>

    @if (testType === "live" || testType === "mock"){
      <div class="ant-col-md-12 ant-col-24 mt-2">
        <div class="ant-row">
          <div class="ant-col-9 pr-1 font-12 font-300">Subject Name</div>
          <div class="ant-col-1 px-1 font-12 font-300">:</div>
          <div class="ant-col-14 pl-1 font-12 font-400 text-a-primary">
            {{ testDetails?.subject || "-" }}
          </div>
        </div>
      </div>
    }

    @if (testType === "live") {
      <div class="ant-col-md-12 ant-col-24 mt-2">
        <div class="ant-row">
          <div class="ant-col-9 pr-1 font-12 font-300">Start Time</div>
          <div class="ant-col-1 px-1 font-12 font-300">:</div>
          <div class="ant-col-14 pl-1 font-12 font-400 text-a-primary">
            {{
              testDetails?.startTime
                ? (testDetails?.startTime | date: "dd MMM yyyy @ hh:mm a")
                : "-"
            }}
          </div>
        </div>
      </div>

      <div class="ant-col-md-12 ant-col-24 mt-2">
        <div class="ant-row">
          <div class="ant-col-9 pr-1 font-12 font-300">End Time</div>
          <div class="ant-col-1 px-1 font-12 font-300">:</div>
          <div class="ant-col-14 pl-1 font-12 font-400 text-a-primary">
            {{
              testDetails?.endTime
                ? (testDetails?.endTime | date: "dd MMM yyyy @ hh:mm a")
                : "-"
            }}
          </div>
        </div>
      </div>
    }

    @if (testType === "live") {
      <div class="ant-col-md-12 ant-col-24 mt-2">
        <div class="ant-row">
          <div class="ant-col-9 pr-1 font-12 font-300">Batch</div>
          <div class="ant-col-1 px-1 font-12 font-300">:</div>
          <div class="ant-col-14 pl-1 font-12 font-400 text-a-primary">
            {{ testDetails?.batches?.join(", ") || "-" }}
          </div>
        </div>
      </div>
    }

    @if (testType === "live" || testType === "mock") {
      <div class="ant-col-md-12 ant-col-24 mt-2">
        <div class="ant-row">
          <div class="ant-col-9 pr-1 font-12 font-300">Topics</div>
          <div class="ant-col-1 px-1 font-12 font-300">:</div>
          <div class="ant-col-14 pl-1 font-12 font-400 text-a-primary">
            {{ testDetails?.topic?.join(", ") || "-" }}
          </div>
        </div>
      </div>
    }

    @if (testType === "topic") {
      <div class="ant-col-md-12 ant-col-24 mt-2">
        <div class="ant-row">
          <div class="ant-col-9 pr-1 font-12 font-300">Topic Name</div>
          <div class="ant-col-1 px-1 font-12 font-300">:</div>
          <div class="ant-col-14 pl-1 font-12 font-400 text-a-primary">
            {{ testDetails?.topic?.name || "-" }}
          </div>
        </div>
      </div>
    }

    <div class="ant-col-md-12 ant-col-24 mt-2">
      <div class="ant-row">
        <div class="ant-col-9 pr-1 font-12 font-300">Total Participants</div>
        <div class="ant-col-1 px-1 font-12 font-300">:</div>
        <div class="ant-col-14 pl-1 font-12 font-400 text-a-primary">
          {{ testDetails?.totalParticipants }}
        </div>
      </div>
    </div>

    <div class="ant-col-md-12 ant-col-24 mt-2">
      <div class="ant-row">
        <div class="ant-col-9 pr-1 font-12 font-300">Type</div>
        <div class="ant-col-1 px-1 font-12 font-300">:</div>
        <div
          class="ant-col-14 pl-1 font-12 font-600"
          [class]="testDetails?.isFree ? 'text-free':'text-a-primary'"
        >
          {{ testDetails?.isFree ? 'Free' : 'Paid' }}
        </div>
      </div>
    </div>

    <div class="ant-col-md-12 ant-col-24 mt-2">
      <div class="ant-row">
        <div class="ant-col-9 pr-1 font-12 font-300">Test Type</div>
        <div class="ant-col-1 px-1 font-12 font-300">:</div>
        <div
          class="ant-col-14 pl-1 font-12 font-400 text-a-primary"
        >
          {{ (testType + ' Test') | titlecase }}
        </div>
      </div>
    </div>
  </div>
</nz-card>

<nz-divider nzText="Participant List" nzOrientation="left"></nz-divider>

<nz-card nzBorderless nzHoverable>
  <div class="d-flex align-items-center mb-3">
    @if (testType === "live") {
      <span class="font-12 font-300 mr-2"> {{ "Recorded" }} </span>
      <nz-switch class="mr-3" nzSize="small" [(ngModel)]="isRecorded" (ngModelChange)="onRankModeChange()"></nz-switch>
    }
    <span class="font-12 font-300 mr-2"> Leaderboard </span>
    <nz-switch
      nzSize="small"
      [(ngModel)]="isRankList"
      (ngModelChange)="onRankModeChange()"
    ></nz-switch>
  </div>

  @if (!isRankList) {
    <nz-table
      [nzData]="
        testType !== 'live' || !isRecorded ? participants : recordedParticipants
      "
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      [nzScroll]="{ x: '640px' }"
      [nzNoResult]="customNoData"

    >
      <thead>
        <tr>
          <th nzWidth="56px" class="text-center">Sl. No.</th>
          <th nzWidth="260px">Student Name</th>
          <th nzWidth="84px" class="text-center">Student ID</th>
        </tr>
      </thead>
      <tbody>
        @if (testType !== "live" || !isRecorded) {
          <tr *ngFor="let student of participants; index as i">
            <td class="text-center">{{ i + 1 }}</td>
            <td>{{ student?.student?.name || "-" }}</td>
            <td class="text-center">{{ student?.student?.id || "-" }}</td>
          </tr>
        } @else {
          <tr *ngFor="let student of recordedParticipants; index as i">
            <td class="text-center">{{ i + 1 }}</td>
            <td>{{ student?.student?.name || "-" }}</td>
            <td class="text-center">{{ student?.student?.id || "-" }}</td>
          </tr>
        }
      </tbody>
    </nz-table>
  } @else {
    <nz-table
      [nzData]="leaderboard"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      [nzScroll]="{ x: '640px' }"
      [nzNoResult]="customNoData"
    >
      <thead>
        <tr>
          <th nzWidth="56px" class="text-center">Sl. No.</th>
          <th nzWidth="260px">Student Name</th>
          <th nzWidth="96px">Score</th>
          <th nzWidth="84px">Score %</th>
          <th nzWidth="84px" class="text-center">Student ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of leaderboard; index as i">
          <td class="text-center">{{ i + 1 }}</td>
          <td>{{ student?.studentName || "-" }}</td>
          <td>
            {{ student?.scoreObtained || "-" }} /
            {{ student?.totalScore || "-" }}
          </td>
          <td>
            {{
              student?.scoreObtained && student?.totalScore
                ? ((student?.scoreObtained / student?.totalScore) * 100
                  | number: ".2-2")
                : "-"
            }}
            %
          </td>
          <td class="text-center">{{ student?.studentId || "-" }}</td>
        </tr>
      </tbody>
    </nz-table>
  }
  <ng-template #customNoData>
    <img class="mt-3" src="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg" alt="">
    <p class="font-16 font-300 mt-3">No Participants Found!</p>
  </ng-template>
</nz-card>

<nz-modal
  [(nzVisible)]="isQuestionViewModal"
  [nzMaskClosable]="true"
  [nzFooter]="null"
  (nzOnCancel)="onModalClose()"
>
  <ng-container *nzModalContent>
    <p class="font-20 font-500">Questions</p>
    @if(questions.length > 0){
      <div class="row">
        <div *ngFor="let question of questions; index as i" class="col-12 mt-3">
          <p class="font-12 text-aa">Question {{ i+1 }}:</p>
          <pre class="font-16 text-4a mt-1 mb-2">question</pre>
          <p class="font-14 font-300 text-8a">Correct Option: <span class="text-a-primary">{{ question?.correctOption }}</span></p>
          <p class="font-14 font-300 text-8a">Incorrect Option 1: <span class="text-4a">{{ question?.option2 }}</span></p>
          <p class="font-14 font-300 text-8a">Incorrect Option 2: <span class="text-4a">{{ question?.option3 }}</span></p>
          <p class="font-14 font-300 text-8a">Incorrect Option 3: <span class="text-4a">{{ question?.option4 }}</span></p>
          @if(question?.option5){
            <p class="font-14 font-300 text-8a">Incorrect Option 4: <span class="text-4a">{{ question?.option5 }}</span></p>
          }
        </div>
      </div>
    } @else {
      <nz-empty
        nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
      ></nz-empty>
    }
  </ng-container>
</nz-modal>
