/* You can add global styles to this file, and also import other style files */
// @import "~ng-zorro-antd/ng-zorro-antd.css";
@import url("./assets/scss/font-face.scss");
@import url("./assets/scss/font-variables.scss");
@import url("./assets/scss/layouting.css");
@import url("./assets/scss/colors.scss");

$student-primary: #8555fd;
$admin-primary: #00a3ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  // color: #3a3a3a;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.text-primary {
  color: $student-primary !important;
  transition: color 0.6s;
}

.text-primary:hover {
  color: #561abd !important;
}

.text-a-primary {
  color: $admin-primary !important;
}

.text-free {
  color: #bebebe !important;
}

.text-paid {
  color: #561abd !important;
}

.row-gap-4 {
  row-gap: 4px;
}
.row-gap-8 {
  row-gap: 8px;
}
.row-gap-12 {
  row-gap: 12px;
}
.row-gap-16 {
  row-gap: 16px;
}
.row-gap-20 {
  row-gap: 20px;
}
.row-gap-24 {
  row-gap: 24px;
}
.col-gap-4 {
  column-gap: 4px;
}
.col-gap-8 {
  column-gap: 8px;
}
.col-gap-12 {
  column-gap: 12px;
}
.col-gap-16 {
  column-gap: 16px;
}
.col-gap-20 {
  column-gap: 20px;
}
.col-gap-24 {
  column-gap: 24px;
}

.ant-row {
  // margin: 0 !important;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  outline: none !important;
  border: none;
}

.student a {
  color: #8555fd;
}

// NgZorro Edited Styles
//.ant-tabs-nav-wrap {
//  justify-content: center;
//}
//.ant-tabs-nav-list {
//  width: 100%;
//}
.ant-tabs-tab {
  padding: 0 !important;
  width: 50%;
  //justify-content: center;
}
.ant-tabs-tab-btn {
  padding: 0 16px 8px !important;
}
.ant-card {
  border-radius: 12px;
  .ant-card-body {
    padding: 16px;
  }
}
.ant-card-hoverable:hover {
  box-shadow: 0px 4px 8px 0px #22222217;
}

//Table
.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  display: none !important;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 8px 12px;
  font-size: 12px;
}

.ant-table thead > tr > th:first-child {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.ant-table thead > tr > th:last-child {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td:first-child{
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}
.ant-table-tbody > tr.ant-table-row:hover > td:last-child{
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.ant-table-tbody > tr > td {
  border: none;
}

.student .ant-table thead > tr > th {
  background: #561abd;
  color: #fff;
}

nz-breadcrumb {
  margin-bottom: 0.75rem !important;
}

.ant-breadcrumb > nz-breadcrumb-item {
  font-size: 16px;
  color: #bebebe;
  font-weight: 500;
  transition: color 0.6s;
}

.ant-breadcrumb > nz-breadcrumb-item:hover{
  cursor:pointer;
}

.student .ant-breadcrumb > nz-breadcrumb-item:last-child {
  color: #8555fd;
}

.student .ant-breadcrumb > nz-breadcrumb-item:hover {
  color: #561abd;
}


// Custom Global Classes
.label-divider {
  position: relative;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -56%);
    line-height: normal;
    font-size: 12px;
    font-weight: 400;
    padding: 0 4px;
  }
}

.student .label-divider p {
  background-color: #ede9fe !important;
}

@media (min-width: 576px) {
  .label-divider {
    p {
      left: 12px;
      transform: translateY(-56%);
    }
  }
}

.card {
  // padding: 16px;
  border-radius: 12px;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.06);
  border: none;
}

.student-diagonal-gradient {
  background: linear-gradient(
    to top right,
    #561abd,
    #8555fd
  ); /* Customize the colors */
  color: white; /* Optional: Change the text color for better visibility */
  border: none; /* Optional: Remove borders */
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.06);
}

.admin-diagonal-gradient {
  background: linear-gradient(
    to top right,
    #0063ab,
    #00a3ff
  ); /* Customize the colors */
  color: white; /* Optional: Change the text color for better visibility */
  border: none; /* Optional: Remove borders */
}

.chart-div {
  position: relative !important;
  .chart-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    aspect-ratio: 1;
    border-radius: 50%;
  }
}

.student .chart-center {
  background-color: #8555fd18;
}

.cursor-pointer:hover {
  cursor: pointer;
}
