// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @import '../node_modules/ng-zorro-antd/style/color/colors.less';
// @import '../node_modules/ng-zorro-antd/style/themes/variable.less';
// @import '../node_modules/ng-zorro-antd/style/mixins/index.less';

@theme: default;

// The prefix to use on all css classes from ant.
@ant-prefix: ant;

// An override for the html selector for theme prefixes
@html-selector: html;

// @primary-color: #1890ff;

// -------- Colors -----------
// >>> Primary
@primary-color: #8555fd;
@primary-color-hover: #561abd;
// @primary-color-active: color(colorPalette('@{primary-color}', 7));
@primary-color-outline: rgba(133, 85, 253, 0.8);

// @processing-color: @blue-6;

// // >>> Info
// @info-color: @primary-color;
// @info-color-deprecated-bg: color(colorPalette('@{info-color}', 1));
// @info-color-deprecated-border: color(colorPalette('@{info-color}', 3));

// // >>> Success
// @success-color: @green-6;
// @success-color-hover: color(colorPalette('@{success-color}', 5));
// @success-color-active: color(colorPalette('@{success-color}', 7));
// @success-color-outline: fade(@success-color, @outline-fade);
// @success-color-deprecated-bg: color(colorPalette('@{success-color}', 1));
// @success-color-deprecated-border: color(colorPalette('@{success-color}', 3));

// // >>> Warning
// @warning-color: @gold-6;
// @warning-color-hover: color(colorPalette('@{warning-color}', 5));
// @warning-color-active: color(colorPalette('@{warning-color}', 7));
// @warning-color-outline: fade(@warning-color, @outline-fade);
// @warning-color-deprecated-bg: color(colorPalette('@{warning-color}', 1));
// @warning-color-deprecated-border: color(colorPalette('@{warning-color}', 3));

// // >>> Error
// @error-color: @red-5;
// @error-color-hover: color(colorPalette('@{error-color}', 5));
// @error-color-active: color(colorPalette('@{error-color}', 7));
// @error-color-outline: fade(@error-color, @outline-fade);
// @error-color-deprecated-bg: color(colorPalette('@{error-color}', 1));
// @error-color-deprecated-border: color(colorPalette('@{error-color}', 3));

// @highlight-color: @red-5;
@normal-color: #d9d9d9;
@white: #fff;
@black: #000;

@layout-body-background: #EDE9FE;

// vertical paddings
@padding-lg: 24px; // containers
@padding-md: 16px; // small containers and buttons
@padding-sm: 12px; // Form controls and items
@padding-xs: 8px; // small items
@padding-xss: 4px; // more small
