.profile-image-container {
  height: 72px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #bebebe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
